.course-review {
  margin-top: 2.437rem;
}

.course-review__title {
  font-size: 1.25rem;
  font-weight: 800;
  color: var(--dark-black);
}

.course-review__review-box {
  margin: -0.4rem 0 0.875rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
}

.course-review__review-box__number {
  font-size: 3.75rem;
  font-weight: 800;
  color: var(--dark-black);
  margin-left: 0.75rem;
}

.course-review__review-box__review__stars svg {
  margin-left: 0.25rem;
}

.course-review__review-box__review__number-of-reviews span:nth-of-type(1) {
  font-size: 1.063rem;
  font-weight: 700;
  color: var(--grey);
}

.course-review__review-box__review__number-of-reviews span:nth-of-type(2) {
  font-size: 0.938rem;
  color: var(--grey);
}

.course-review__cards-carousel {
  margin: -1.8rem 0 0 0;
}

.course-review__cards-carousel > div {
  padding: 1rem 0.6rem 1rem 0 !important;
}

.course-review__cards-carousel > div > div:nth-child(1),
.course-review__cards-carousel > div > div:nth-child(2) {
  top: 39% !important;
}

.course-review__cards-carousel > div > div:nth-child(1):after,
.course-review__cards-carousel > div > div:nth-child(2):after {
  font-size: 1.05rem !important;
  -webkit-box-shadow: 0 0 1.3125rem #00000033 !important;
          box-shadow: 0 0 1.3125rem #00000033 !important;
}

.course-review__cards-carousel > div > div:nth-child(1) {
  right: 0.315rem !important;
}

.course-review__cards-carousel > div > div:nth-child(1):after {
  padding: 1.575rem 1.239rem 1.575rem 1.344rem !important;
}

.course-review__cards-carousel > div > div:nth-child(2) {
  left: 0.84rem !important;
}

.course-review__cards-carousel > div > div:nth-child(2):after {
  padding: 1.575rem 1.344rem 1.575rem 1.239rem !important;
}

.course-review__cards-carousel > div > div:nth-child(3) > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.course-review__cards-carousel__card {
  padding: 1.25rem 1.688rem 1.25rem 2.875rem;
  width: 34rem;
  -webkit-box-shadow: 0 0 1.25rem #0000001A;
          box-shadow: 0 0 1.25rem #0000001A;
  border-radius: 1.25rem;
  height: 10.0625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
}

.course-review__cards-carousel__card > div:nth-of-type(1) img {
  width: 3.125rem;
  height: 3.125rem;
}

.course-review__cards-carousel__card__review-box {
  margin-right: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.course-review__cards-carousel__card__review-box__name {
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--dark-black);
  margin-bottom: 0.2rem;
}

.course-review__cards-carousel__card__review-box__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
}

.course-review__cards-carousel__card__review-box__rating svg {
  margin-left: 0.15rem;
}

.course-review__cards-carousel__card__review-box__rating span {
  font-size: 0.813rem;
  color: #999999;
  margin-right: 0.375rem;
}

.course-review__cards-carousel__card__review-box__review {
  font-size: 0.938rem;
  color: var(--grey);
  margin-top: 0.2rem;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.course-review__mobile-view {
  display: none;
}

@media (max-width: 575px) {
  .course-review__scrollspy-helper {
    position: absolute;
  }
  .course-review {
    margin-top: 11.563rem;
    position: relative;
  }
  .course-review__title {
    font-size: 3rem;
  }
  .course-review__review-box {
    margin: -0.96rem 0 2.1rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .course-review__review-box__number {
    font-size: 9rem;
    margin-left: 1.8rem;
  }
  .course-review__review-box__review__stars svg {
    margin-left: 0.6rem;
  }
  .course-review__review-box__review__number-of-reviews span:nth-of-type(1) {
    font-size: 2.5512rem;
  }
  .course-review__review-box__review__number-of-reviews span:nth-of-type(2) {
    font-size: 2.2512rem;
  }
  .course-review__cards-carousel {
    display: none;
    margin: -4.32rem 0 0 0;
  }
  .course-review__cards-carousel > div {
    padding: 2.4rem 1.44rem 2.4rem 0 !important;
  }
  .course-review__cards-carousel > div > div:nth-child(1),
  .course-review__cards-carousel > div > div:nth-child(2) {
    top: 39% !important;
  }
  .course-review__cards-carousel > div > div:nth-child(1):after,
  .course-review__cards-carousel > div > div:nth-child(2):after {
    font-size: 2.4rem !important;
    -webkit-box-shadow: 0 0 3rem #00000033 !important;
            box-shadow: 0 0 3rem #00000033 !important;
  }
  .course-review__cards-carousel > div > div:nth-child(1) {
    right: 0.72rem !important;
  }
  .course-review__cards-carousel > div > div:nth-child(1):after {
    padding: 3.6rem 2.832rem 3.6rem 3.072rem !important;
  }
  .course-review__cards-carousel > div > div:nth-child(2) {
    left: 1.92rem !important;
  }
  .course-review__cards-carousel > div > div:nth-child(2):after {
    padding: 3.6rem 3.072rem 3.6rem 2.832rem !important;
  }
  .course-review__cards-carousel > div > div:nth-child(3) > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .course-review__cards-carousel__card {
    padding: 3rem 3.6rem 3.6rem 3.6rem;
    width: 94.5%;
    -webkit-box-shadow: 0 0 1.25rem #0000001A;
            box-shadow: 0 0 1.25rem #0000001A;
    border-radius: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0 0 3rem 0;
  }
  .course-review__cards-carousel__card > div:nth-of-type(1) img {
    width: 7.5rem;
    height: 7.5rem;
  }
  .course-review__cards-carousel__card__review-box {
    margin: 1rem 1rem 0 0;
  }
  .course-review__review-box__review__stars svg {
    width: 4.5386rem;
    height: 4.2636rem;
  }
  .course-review__cards-carousel__card__review-box__name {
    font-size: 2.7rem;
    margin-bottom: 0.48rem;
  }
  .course-review__cards-carousel__card__review-box__rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .course-review__cards-carousel__card__review-box__rating svg {
    margin-left: 0.36rem;
    width: 2.5512rem;
    height: 2.4rem;
  }
  .course-review__cards-carousel__card__review-box__rating span {
    font-size: 1.9512rem;
    margin-right: 0.9rem;
  }
  .course-review__cards-carousel__card__review-box__review {
    font-size: 2.2512rem;
    margin: 0.48rem -8rem 0 0;
    display: block;
    overflow: visible;
    text-overflow: clip;
    -webkit-line-clamp: none;
    -webkit-box-orient: vertical;
  }
  .show-all-reviews-btn {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    text-transform: none;
    font-size: 0.97rem;
    font-weight: 700;
    padding: 0.375rem 0.75rem;
    border-radius: 0.625rem;
    font-family: 'Almarai', sans-serif;
    border: 0 !important;
    color: var(--primary-red) !important;
    border: 0.125rem solid var(--primary-red) !important;
    background-color: white !important;
    width: 94%;
    margin: 2rem 0 0 0;
    font-size: 2.813rem;
    border-radius: 1.875rem;
    height: 6.875rem;
  }
  .show-all-reviews-btn:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .show-all-reviews-btn:active {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .show-all-reviews-btn:hover {
    color: var(--primary-red) !important;
    border: 0.125rem solid var(--primary-red) !important;
  }
  .show-all-reviews-btn:active {
    background-color: var(--primary-red) !important;
    color: white !important;
    border: 0.125rem solid var(--primary-red) !important;
  }
  .course-review__mobile-view {
    display: block;
  }
}
/*# sourceMappingURL=course-review.module.css.map */