.course-details__course-card {
  margin: 5.5rem 0.5rem 0 0;
  padding: 1.25rem 1.625rem 0 1.625rem;
  width: 22rem;
  -webkit-box-shadow: 0 0 1.25rem #0000001A;
          box-shadow: 0 0 1.25rem #0000001A;
  border-radius: 1.25rem;
  position: -webkit-sticky;
  position: sticky;
  top: 5.5rem;
}

.course-details__course-card__title {
  font-size: 1.0625rem;
  font-weight: 800;
  color: var(--dark-black);
}

.course-details__course-card__price-box {
  color: var(--dark-black);
}

.course-details__course-card__price-box__price {
  font-size: 1.5rem;
  font-weight: 800;
}

.course-details__course-card__price-box__currency {
  font-size: 1.25rem;
  font-weight: 700;
}

.course-details__course-card__old-price-box--line-through {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-text-decoration: line-through var(--primary-red);
          text-decoration: line-through var(--primary-red);
}

.course-details__course-card__old-price-box {
  color: var(--grey);
  margin-top: -0.4rem;
}

.course-details__course-card__old-price-box__price {
  font-size: 1rem;
  font-weight: 800;
}

.course-details__course-card__old-price-box__currency {
  font-size: 1rem;
}

.course-details__course-card__old-price-box__discount {
  font-size: 0.813rem;
}

.course-details__course-card__actions-btns {
  margin-top: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 0.2rem;
}

.course-details__course-card__actions-btns__add-to-cart-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  text-transform: none;
  font-size: 0.97rem;
  font-weight: 700;
  padding: 0.375rem 0.75rem;
  border-radius: 0.625rem;
  font-family: 'Almarai', sans-serif;
  border: 0 !important;
  background-color: var(--primary-red) !important;
  border: 0.125rem solid var(--primary-red) !important;
  border-radius: 0.75rem;
  width: 11.563rem;
  height: 3.125rem;
}

.course-details__course-card__actions-btns__add-to-cart-btn:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.course-details__course-card__actions-btns__add-to-cart-btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.course-details__course-card__actions-btns__add-to-cart-btn:hover, .course-details__course-card__actions-btns__add-to-cart-btn:active {
  background-color: #9d151e !important;
  border: 0.125rem solid #9d151e !important;
}

.course-details__course-card__actions-btns__add-to-cart-btn span {
  font-size: 1rem;
  margin-right: -0.3rem;
}

.course-details__course-card__actions-btns__fav-btn,
.course-details__course-card__actions-btns__share-btn {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 0.75rem;
  background-color: rgba(0, 0, 0, 0.05);
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 3.125rem;
  height: 3.125rem;
  margin-right: 0.6rem;
}

.course-details__course-card__actions-btns__fav-btn:hover, .course-details__course-card__actions-btns__fav-btn:active, .course-details__course-card__actions-btns__fav-btn:focus,
.course-details__course-card__actions-btns__share-btn:hover,
.course-details__course-card__actions-btns__share-btn:active,
.course-details__course-card__actions-btns__share-btn:focus {
  background-color: rgba(0, 0, 0, 0.07);
}

.course-details__course-card__guarantee-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  margin-top: 1.3rem;
  padding-bottom: 1.3rem;
  border-bottom: 0.05rem solid rgba(34, 34, 34, 0.1);
}

.course-details__course-card__guarantee-box__text-box {
  margin-right: 0.8rem;
}

.course-details__course-card__guarantee-box__text-box__major,
.course-details__course-card__guarantee-box__text-box__minor {
  font-size: 0.813rem;
  color: var(--dark-black);
}

.course-details__course-card__guarantee-box__text-box__major {
  font-weight: 700;
}

.course-details__course-card__guarantee-box__text-box__minor {
  font-weight: 400;
  color: var(--grey);
}

.course-details__course-card__details-list {
  margin-top: 1rem;
  padding-bottom: 0.8rem;
  border-bottom: 0.05rem solid rgba(34, 34, 34, 0.1);
}

.course-details__course-card__details-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  margin-bottom: 0.7rem;
}

.course-details__course-card__details-list__item span {
  font-size: 0.875rem;
  color: var(--dark-black);
  margin-right: 1rem;
}

.course-details__course-card__details-list__item svg, .course-details__course-card__details-list__item img {
  width: 1.25rem;
  height: 1.25rem;
}

.course-details__course-card__promo-code {
  text-align: center;
  font-size: 0.938rem;
  padding: 0.9rem 0 1.5rem 0;
}

.course-details__course-card__promo-code span:nth-of-type(1) {
  color: var(--grey);
}

.course-details__course-card__promo-code span:nth-of-type(2) {
  font-weight: 800;
  color: var(--primary-red);
}

.course-details__sticky-top-course-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.3rem 8.3rem;
  -webkit-box-shadow: 0px 5px 21px #00000014;
          box-shadow: 0px 5px 21px #00000014;
  z-index: 4;
  width: 100%;
  position: fixed;
  background-color: white;
  margin-right: -8.5rem;
}

.course-details__sticky-top-course-card__checkout-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
}

.course-details__sticky-top-course-card__checkout-box .course-details__course-card__actions-btns {
  margin: 0 1.5625rem 0 0;
}

.course-details__sticky-top-course-card__course-details-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
}

.course-details__sticky-top-course-card__course-img img {
  width: 5rem;
  height: 3.125rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 0 1.25rem #0000001A;
          box-shadow: 0 0 1.25rem #0000001A;
}

.course-details__sticky-top-course-card__course-details {
  margin: 0 1rem 0 0;
}

.course-details__sticky-top-course-card__course-details div:nth-of-type(1) {
  font-size: 1.25rem;
  font-weight: 800;
  color: var(--dark-black);
}

.course-details__sticky-top-course-card__course-details div:nth-of-type(2) {
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--grey);
}

@media (max-width: 575px) {
  .course-details__course-card {
    margin: 3.281rem 0 0 0;
    padding: 3.125rem 4.0625rem 0 4.0625rem;
    width: 100%;
    -webkit-box-shadow: 0 0 3.125rem #0000001A;
            box-shadow: 0 0 3.125rem #0000001A;
    border-radius: 3.125rem;
    position: static !important;
  }
  .course-details__course-card__title {
    font-size: 2.65625rem;
  }
  .course-details__course-card__price-box__price {
    font-size: 3.75rem;
  }
  .course-details__course-card__price-box__currency {
    font-size: 3.125rem;
  }
  .course-details__course-card__old-price-box--line-through {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .course-details__course-card__old-price-box {
    margin-top: -1rem;
  }
  .course-details__course-card__old-price-box__price {
    font-size: 2.5rem;
  }
  .course-details__course-card__old-price-box__currency {
    font-size: 2.5rem;
  }
  .course-details__course-card__old-price-box__discount {
    font-size: 2.0325rem;
  }
  .course-details__course-card__actions-btns {
    margin-top: 1.75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 0.5rem;
  }
  .course-details__course-card__actions-btns__add-to-cart-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    text-transform: none;
    font-size: 0.97rem;
    font-weight: 700;
    padding: 0.375rem 0.75rem;
    border-radius: 0.625rem;
    font-family: 'Almarai', sans-serif;
    border: 0 !important;
    background-color: var(--primary-red) !important;
    border: 0.125rem solid var(--primary-red) !important;
    border-radius: 1.875rem;
    width: 28.9075rem;
    height: 7.8125rem;
  }
  .course-details__course-card__actions-btns__add-to-cart-btn:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .course-details__course-card__actions-btns__add-to-cart-btn:active {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .course-details__course-card__actions-btns__add-to-cart-btn:hover, .course-details__course-card__actions-btns__add-to-cart-btn:active {
    background-color: #9d151e !important;
    border: 0.125rem solid #9d151e !important;
  }
  .course-details__course-card__actions-btns__add-to-cart-btn span {
    font-size: 2.5rem;
    margin-right: -0.75rem;
  }
  .course-details__course-card__actions-btns__add-to-cart-btn svg {
    width: 3.4375rem;
    height: 3rem;
  }
  .course-details__course-card__actions-btns__fav-btn,
  .course-details__course-card__actions-btns__share-btn {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 0.75rem;
    background-color: rgba(0, 0, 0, 0.05);
    border: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 7.8125rem;
    height: 7.8125rem;
    margin-right: 1.5rem;
    border-radius: 1.875rem;
  }
  .course-details__course-card__actions-btns__fav-btn:hover, .course-details__course-card__actions-btns__fav-btn:active, .course-details__course-card__actions-btns__fav-btn:focus,
  .course-details__course-card__actions-btns__share-btn:hover,
  .course-details__course-card__actions-btns__share-btn:active,
  .course-details__course-card__actions-btns__share-btn:focus {
    background-color: rgba(0, 0, 0, 0.07);
  }
  .course-details__course-card__actions-btns__fav-btn svg,
  .course-details__course-card__actions-btns__share-btn svg {
    width: 4.22rem;
    height: 3.75rem;
  }
  .course-details__course-card__guarantee-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    margin-top: 3.25rem;
    padding-bottom: 3.25rem;
    border-bottom: 0.125rem solid rgba(34, 34, 34, 0.1);
  }
  .course-details__course-card__guarantee-box svg {
    width: 3.4375rem;
    height: 3.75rem;
  }
  .course-details__course-card__guarantee-box__text-box {
    margin-right: 2rem;
  }
  .course-details__course-card__guarantee-box__text-box__major,
  .course-details__course-card__guarantee-box__text-box__minor {
    font-size: 2.0325rem;
  }
  .course-details__course-card__details-list {
    margin-top: 2.5rem;
    padding-bottom: 2rem;
    border-bottom: 0.125rem solid rgba(34, 34, 34, 0.1);
  }
  .course-details__course-card__details-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    margin-bottom: 1.75rem;
  }
  .course-details__course-card__details-list__item span {
    font-size: 2.1875rem;
    margin-right: 2.5rem;
  }
  .course-details__course-card__details-list__item svg, .course-details__course-card__details-list__item img {
    width: 3.125rem;
    height: 3.125rem;
  }
  .course-details__course-card__promo-code {
    text-align: center;
    font-size: 2.345rem;
    padding: 2.25rem 0 3.75rem 0;
  }
}
/*# sourceMappingURL=course-card.module.css.map */