@import "../../../styles/mixins";

.guarantee-card {
    width: 43.75rem;
    // height: 6.875rem;
    border-radius: 1.25rem;
    background-color: rgba(25, 135, 84, 0.1);
    padding: 1.875rem;
    @include flex(center);
    color: var(--dark-black);
    margin-top: 5.25rem;
}

.guarantee-card__brief {
    margin-right: 1.875rem;

    div:nth-of-type(1) {
        font-weight: 800;
    }

}


@media (max-width:575px) {
    .guarantee-card {
        display: none;
    }
}