.courses-departments__container {
  padding: 3rem 3rem 0 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.courses-departments__container__title {
  font-size: 2rem;
  font-weight: 800;
}

.courses-departments__container__title span:nth-of-type {
  color: var(--dark-black);
}

.courses-departments__container__title span:nth-of-type(2) {
  color: var(--primary-red);
}

.courses-departments__see-more-btn-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 3rem 0 0 3rem;
}

.courses-departments__container__show-all-btn {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  text-transform: none;
  font-size: 0.97rem;
  font-weight: 700;
  padding: 0.375rem 0.75rem;
  border-radius: 0.625rem;
  font-family: 'Almarai', sans-serif;
  border: 0 !important;
  color: var(--primary-red) !important;
  border: 0.125rem solid var(--primary-red) !important;
  background-color: white !important;
  font-size: 1.063rem;
  color: var(--primary-red);
  font-weight: 700;
  width: 13.125rem;
  height: 2.75rem;
  border: 0.125rem solid rgba(175, 21, 31, 0.2) !important;
  border-radius: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.courses-departments__container__show-all-btn:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.courses-departments__container__show-all-btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.courses-departments__container__show-all-btn:hover {
  color: var(--primary-red) !important;
  border: 0.125rem solid var(--primary-red) !important;
}

.courses-departments__container__show-all-btn:active {
  background-color: var(--primary-red) !important;
  color: white !important;
  border: 0.125rem solid var(--primary-red) !important;
}

.courses-departments__container__show-all-btn:hover, .courses-departments__container__show-all-btn:active {
  background-color: white !important;
  color: var(--primary-red) !important;
  border: 0.125rem solid rgba(175, 21, 31, 0.2) !important;
}

.courses-departments__cards-carousel {
  margin-top: 1rem;
}

.courses-departments__cards-carousel > div {
  padding: 1.5rem 2rem !important;
}

.courses-departments__cards-carousel > div > div:nth-child(1),
.courses-departments__cards-carousel > div > div:nth-child(2) {
  top: 39% !important;
}

.courses-departments__cards-carousel__departments-card {
  width: 10rem;
  height: 10rem;
  border: 0.063rem solid #00000026;
  border-radius: 0.75rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.courses-departments__cards-carousel__departments-card:hover {
  -webkit-box-shadow: 0 0 1.875rem #0000001A;
          box-shadow: 0 0 1.875rem #0000001A;
}

.courses-departments__cards-carousel__departments-card__img-box {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  background-color: var(--primary-red);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.courses-departments__cards-carousel__departments-card__img-box img {
  width: 2rem;
  height: 2rem;
}

.courses-departments__cards-carousel__departments-card__department {
  font-size: 1rem;
  font-weight: 700;
  color: var(--dark-black);
  margin-top: 0.3rem;
}

.courses-departments__cards-carousel__departments-card__learners-number {
  font-size: 0.875rem;
  color: var(--grey);
  margin-top: 0.3rem;
}

.swiper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 1.125rem;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1200px) {
  .courses-departments__cards-carousel > div {
    padding: 1.8rem 2.4rem !important;
  }
  .courses-departments__cards-carousel > div > div:nth-child(1),
  .courses-departments__cards-carousel > div > div:nth-child(2) {
    top: 37% !important;
  }
  .courses-departments__cards-carousel > div > div:nth-child(1):after,
  .courses-departments__cards-carousel > div > div:nth-child(2):after {
    font-size: 1.2rem !important;
    -webkit-box-shadow: 0 0 1.5rem #00000033 !important;
            box-shadow: 0 0 1.5rem #00000033 !important;
  }
  .courses-departments__cards-carousel > div > div:nth-child(1) {
    right: 1.2rem !important;
  }
  .courses-departments__cards-carousel > div > div:nth-child(1):after {
    padding: 1.8rem 1.416rem 1.8rem 1.536rem !important;
  }
  .courses-departments__cards-carousel > div > div:nth-child(2) {
    left: 1.2rem !important;
  }
  .courses-departments__cards-carousel > div > div:nth-child(2):after {
    padding: 1.8rem 1.536rem 1.8rem 1.416rem !important;
  }
}

@media (max-width: 980px) {
  .courses-departments__cards-carousel {
    margin-top: 2rem;
  }
  .courses-departments__cards-carousel > div {
    padding: 2.1rem 2.8rem !important;
  }
  .courses-departments__cards-carousel > div > div:nth-child(1),
  .courses-departments__cards-carousel > div > div:nth-child(2) {
    top: 37% !important;
  }
  .courses-departments__cards-carousel > div > div:nth-child(1):after,
  .courses-departments__cards-carousel > div > div:nth-child(2):after {
    font-size: 1.4rem !important;
    -webkit-box-shadow: 0 0 1.75rem #00000033 !important;
            box-shadow: 0 0 1.75rem #00000033 !important;
  }
  .courses-departments__cards-carousel > div > div:nth-child(1) {
    right: 1.4rem !important;
  }
  .courses-departments__cards-carousel > div > div:nth-child(1):after {
    padding: 2.1rem 1.652rem 2.1rem 1.792rem !important;
  }
  .courses-departments__cards-carousel > div > div:nth-child(2) {
    left: 1.4rem !important;
  }
  .courses-departments__cards-carousel > div > div:nth-child(2):after {
    padding: 2.1rem 1.792rem 2.1rem 1.652rem !important;
  }
  .courses-departments__cards-carousel__departments-card {
    width: 14rem;
    height: 14rem;
    border: 0.0882rem solid #00000026;
    border-radius: 1.05rem;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .courses-departments__cards-carousel__departments-card:hover {
    -webkit-box-shadow: 0 0 2.625rem #0000001A;
            box-shadow: 0 0 2.625rem #0000001A;
  }
  .courses-departments__cards-carousel__departments-card__img-box {
    width: 4.375rem;
    height: 4.375rem;
    border-radius: 50%;
    background-color: var(--primary-red);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .courses-departments__cards-carousel__departments-card__img-box img {
    width: 2.8rem;
    height: 2.8rem;
  }
  .courses-departments__cards-carousel__departments-card__department {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--dark-black);
    margin-top: 0.42rem;
  }
  .courses-departments__cards-carousel__departments-card__learners-number {
    font-size: 1.225rem;
    color: var(--grey);
    margin-top: 0.42rem;
  }
}

@media (max-width: 575px) {
  .courses-departments__container {
    padding: 0;
    margin: 18.344rem 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .courses-departments__container__title {
    font-size: 4.688rem;
  }
  .courses-departments__cards-carousel {
    margin-top: 2rem;
  }
  .courses-departments__cards-carousel > div {
    padding: 3.3rem 4.4rem !important;
  }
  .courses-departments__cards-carousel > div > div:nth-child(1),
  .courses-departments__cards-carousel > div > div:nth-child(2) {
    top: 34% !important;
  }
  .courses-departments__cards-carousel__departments-card {
    width: 22rem;
    height: 22rem;
    border: 0.1386rem solid #00000026;
    border-radius: 1.65rem;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .courses-departments__cards-carousel__departments-card:hover {
    -webkit-box-shadow: 0 0 4.125rem #0000001A;
            box-shadow: 0 0 4.125rem #0000001A;
  }
  .courses-departments__cards-carousel__departments-card__img-box {
    width: 6.875rem;
    height: 6.875rem;
    border-radius: 50%;
    background-color: var(--primary-red);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .courses-departments__cards-carousel__departments-card__img-box img {
    width: 4.4rem;
    height: 4.4rem;
  }
  .courses-departments__cards-carousel__departments-card__department {
    font-size: 2.2rem;
    font-weight: 700;
    color: var(--dark-black);
    margin-top: 0.66rem;
  }
  .courses-departments__cards-carousel__departments-card__learners-number {
    font-size: 1.925rem;
    color: var(--grey);
    margin-top: 0.66rem;
  }
  .courses-departments__see-more-btn-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
  .courses-departments__container__show-all-btn {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    text-transform: none;
    font-size: 0.97rem;
    font-weight: 700;
    padding: 0.375rem 0.75rem;
    border-radius: 0.625rem;
    font-family: 'Almarai', sans-serif;
    border: 0 !important;
    color: var(--primary-red) !important;
    border: 0.125rem solid var(--primary-red) !important;
    background-color: white !important;
    font-size: 2.3386rem;
    color: var(--primary-red);
    font-weight: 700;
    width: 100%;
    height: 6.05rem;
    border: 0.275rem solid rgba(175, 21, 31, 0.2) !important;
    border-radius: 1.65rem;
    margin: 2rem 5.8rem 0 5.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .courses-departments__container__show-all-btn:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .courses-departments__container__show-all-btn:active {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .courses-departments__container__show-all-btn:hover {
    color: var(--primary-red) !important;
    border: 0.125rem solid var(--primary-red) !important;
  }
  .courses-departments__container__show-all-btn:active {
    background-color: var(--primary-red) !important;
    color: white !important;
    border: 0.125rem solid var(--primary-red) !important;
  }
  .courses-departments__container__show-all-btn svg {
    width: 1.25rem;
    height: 2.1875rem;
    margin: 0.5rem 2.063rem 0 0;
  }
  .courses-departments__container__show-all-btn:hover, .courses-departments__container__show-all-btn:active {
    background-color: white !important;
    color: var(--primary-red) !important;
    border: 0.275rem solid rgba(175, 21, 31, 0.2) !important;
  }
}
/*# sourceMappingURL=courses-departments.module.css.map */