.footer {
  padding: 5rem 5rem 2rem 5rem;
  background-color: #0E0B1D;
}

.footer__logo img {
  width: 7.25rem;
  height: 2.438rem;
}

.footer__inquiries-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
}

.footer__inquiries-box__trainer-img {
  display: inline-block;
}

.footer__inquiries-box__trainer-img img {
  border-radius: 50%;
  width: 3.75rem;
  height: 3.75rem;
  margin-left: 1.25rem;
}

.footer__inquiries-box__inquiry {
  display: inline-block;
}

.footer__inquiries-box__inquiry__title {
  font-size: 1.375rem;
  font-weight: 800;
  color: white;
}

.footer__inquiries-box__inquiry__breif {
  font-size: 0.938rem;
  color: rgba(255, 255, 255, 0.5);
}

.footer__inquiry-field {
  border: 0 !important;
  padding: 0rem 1.5rem 2.3rem 0.5rem;
  font-family: 'Almarai', sans-serif;
  width: 85%;
  height: 5.625rem;
  font-size: 1.063rem;
  border-radius: 0.75rem;
  margin-top: 1.25rem;
}

.footer__inquiry-field:active, .footer__inquiry-field:focus {
  outline: 0 !important;
  -webkit-appearance: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.footer__inquiry-field::-webkit-input-placeholder {
  color: rgba(34, 34, 34, 0.5);
}

.footer__inquiry-field:-ms-input-placeholder {
  color: rgba(34, 34, 34, 0.5);
}

.footer__inquiry-field::-ms-input-placeholder {
  color: rgba(34, 34, 34, 0.5);
}

.footer__inquiry-field::placeholder {
  color: rgba(34, 34, 34, 0.5);
}

.footer__name-email-fields-box {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__name-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  border: 0 !important;
  padding: 0 1.5rem 0 0;
  font-family: 'Almarai', sans-serif;
  width: 49%;
  height: 3.125rem;
  font-size: 1.063rem;
  border-radius: 0.75rem;
  margin: 0.75rem 0 0 0;
  display: inline-block;
}

.footer__name-field:active, .footer__name-field:focus {
  outline: 0 !important;
  -webkit-appearance: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.footer__name-field::-webkit-input-placeholder {
  color: rgba(34, 34, 34, 0.5);
}

.footer__name-field:-ms-input-placeholder {
  color: rgba(34, 34, 34, 0.5);
}

.footer__name-field::-ms-input-placeholder {
  color: rgba(34, 34, 34, 0.5);
}

.footer__name-field::placeholder {
  color: rgba(34, 34, 34, 0.5);
}

.footer__email-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  border: 0 !important;
  padding: 0 1.5rem 0 0;
  font-family: 'Almarai', sans-serif;
  width: 49%;
  height: 3.125rem;
  font-size: 1.063rem;
  border-radius: 0.75rem;
  margin: 0.75rem 0 0 0;
  display: inline-block;
}

.footer__email-field:active, .footer__email-field:focus {
  outline: 0 !important;
  -webkit-appearance: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.footer__email-field::-webkit-input-placeholder {
  color: rgba(34, 34, 34, 0.5);
}

.footer__email-field:-ms-input-placeholder {
  color: rgba(34, 34, 34, 0.5);
}

.footer__email-field::-ms-input-placeholder {
  color: rgba(34, 34, 34, 0.5);
}

.footer__email-field::placeholder {
  color: rgba(34, 34, 34, 0.5);
}

.footer__send-btn {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  text-transform: none;
  font-size: 0.97rem;
  font-weight: 700;
  padding: 0.375rem 0.75rem;
  border-radius: 0.625rem;
  font-family: 'Almarai', sans-serif;
  border: 0 !important;
  background-color: var(--primary-red) !important;
  border: 0.125rem solid var(--primary-red) !important;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  width: 10rem;
  height: 3.125rem;
  margin: 1.875rem 0 0 0.5rem;
}

.footer__send-btn:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.footer__send-btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.footer__send-btn:hover, .footer__send-btn:active {
  background-color: #9d151e !important;
  border: 0.125rem solid #9d151e !important;
}

.footer__training-courses-list,
.footer__about-tadarab-list {
  list-style-type: none;
  padding: 0;
}

.footer__training-courses-list li,
.footer__about-tadarab-list li {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 0.9rem;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.footer__training-courses-list li:nth-of-type(1),
.footer__about-tadarab-list li:nth-of-type(1) {
  font-size: 1.25rem;
  font-weight: 800;
  color: white;
  cursor: auto;
}

.footer__about-tadarab-list {
  margin-right: 2rem;
}

.footer__communications-box {
  margin-right: 3rem;
}

.footer__cross-platforms img {
  cursor: pointer;
}

.footer__cross-platforms,
.footer__pay-box {
  font-size: 0.875rem;
  color: white;
  margin-top: 1.875rem;
}

.footer__cross-platforms div,
.footer__pay-box div {
  margin-bottom: 0.8rem;
}

.footer__cross-platforms img,
.footer__pay-box img {
  width: 7.188rem;
  height: 2.5rem;
  margin-left: 0.4rem;
}

.footer__pay-box img {
  margin-left: 1.1rem;
}

.footer__pay-box img:nth-of-type(1) {
  width: 2.375rem;
  height: 1.5rem;
}

.footer__pay-box img:nth-of-type(2) {
  width: 3.813rem;
  height: 1.5rem;
}

.footer__pay-box img:nth-of-type(3) {
  width: 2.688rem;
  height: 1.5rem;
}

.footer__contacts-box {
  text-align: center;
}

.footer__contacts-box__contacts {
  margin-top: 5rem;
}

.footer__contacts-box__contacts svg {
  margin-left: 1.5rem;
}

.footer__contacts-box__all-rights-reserved {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 1.125rem;
}

@media (max-width: 575px) {
  .footer__name-email-fields-box {
    width: 100%;
  }
  .footer {
    padding: 9rem 3rem 30rem 3rem;
  }
  .footer__logo img {
    width: 18.125rem;
    height: 6rem;
    margin-bottom: 3rem;
  }
  .footer__inquiries-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    margin: 5.438rem 0 2.5rem 0;
  }
  .footer__inquiries-box__trainer-img {
    display: inline-block;
  }
  .footer__inquiries-box__trainer-img img {
    border-radius: 50%;
    width: 9.375rem;
    height: 9.375rem;
    margin: 0 0 0 2.75rem;
  }
  .footer__inquiries-box__inquiry {
    display: inline-block;
  }
  .footer__inquiries-box__inquiry__title {
    font-size: 3.3rem;
  }
  .footer__inquiries-box__inquiry__breif {
    font-size: 2.2rem;
  }
  .footer__inquiry-field {
    border: 0 !important;
    padding: 0rem 3.438rem 2.3rem 0.5rem;
    width: 100%;
    height: 10rem;
    font-size: 1.8rem;
    border-radius: 1.5rem;
    margin: 0 0 1.875rem 0;
  }
  .footer__inquiry-field:active, .footer__inquiry-field:focus {
    outline: 0 !important;
    -webkit-appearance: none;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  .footer__name-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    border: 0 !important;
    padding: 0 3.438rem 0 0;
    width: 100%;
    height: 5.5rem;
    font-size: 1.8rem;
    border-radius: 1.3rem;
    margin: 0 0 1.875rem 0.75rem;
  }
  .footer__name-field:active, .footer__name-field:focus {
    outline: 0 !important;
    -webkit-appearance: none;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  .footer__email-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    border: 0 !important;
    padding: 0 3.438rem 0 0;
    width: 100%;
    height: 5.5rem;
    font-size: 1.8rem;
    border-radius: 1.3rem;
    margin: 0 0 1.875rem 0;
  }
  .footer__email-field:active, .footer__email-field:focus {
    outline: 0 !important;
    -webkit-appearance: none;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  .footer__send-btn {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    text-transform: none;
    font-size: 0.97rem;
    font-weight: 700;
    padding: 0.375rem 0.75rem;
    border-radius: 0.625rem;
    font-family: 'Almarai', sans-serif;
    border: 0 !important;
    background-color: var(--primary-red) !important;
    border: 0.125rem solid var(--primary-red) !important;
    color: white;
    font-weight: 700;
    font-size: 1.8rem;
    width: 100%;
    height: 5.5rem;
    border-radius: 1.3rem;
    margin: 1.813rem 0 0 0;
  }
  .footer__send-btn:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .footer__send-btn:active {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .footer__send-btn:hover, .footer__send-btn:active {
    background-color: #9d151e !important;
    border: 0.125rem solid #9d151e !important;
  }
  .footer__training-courses-list,
  .footer__about-tadarab-list {
    list-style-type: none;
    padding: 0 0 4.063rem 0;
    border-bottom: 0.03rem solid rgba(119, 119, 119, 0.6);
    margin: 6.5rem 0 0 0;
  }
  .footer__training-courses-list li,
  .footer__about-tadarab-list li {
    font-size: 2.5rem;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 3.125rem;
    cursor: pointer;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .footer__training-courses-list li:nth-of-type(1),
  .footer__about-tadarab-list li:nth-of-type(1) {
    font-size: 3.75rem;
    font-weight: 800;
    color: white;
    cursor: auto;
  }
  .footer__about-tadarab-list {
    margin-right: 0rem;
  }
  .footer__communications-box {
    margin-right: 0rem;
    padding-bottom: 7rem;
    border-bottom: 0.03rem solid rgba(119, 119, 119, 0.6);
  }
  .footer__cross-platforms {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 4.063rem;
  }
  .footer__cross-platforms img {
    cursor: pointer;
    width: 24.5rem;
    height: 8rem;
    margin-left: 1.2rem;
  }
  .footer__cross-platforms,
  .footer__pay-box {
    font-size: 2rem;
    color: white;
    margin-top: 1.875rem;
  }
  .footer__cross-platforms div,
  .footer__pay-box div {
    margin-bottom: 2.031rem;
  }
  .footer__pay-box img {
    margin-left: 3.438rem;
  }
  .footer__pay-box img:nth-of-type(1) {
    width: 5.9rem;
    height: 3.75rem;
  }
  .footer__pay-box img:nth-of-type(2) {
    width: 9.5rem;
    height: 3.75rem;
  }
  .footer__pay-box img:nth-of-type(3) {
    width: 6.72rem;
    height: 3.75rem;
  }
  .footer__contacts-box {
    text-align: center;
  }
  .footer__contacts-box__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10.938rem;
  }
  .footer__contacts-box__contacts svg {
    margin-left: 3.75rem;
    width: 4.375rem;
    height: 3.125rem;
  }
  .footer__contacts-box__all-rights-reserved {
    font-size: 2.3rem;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 1.125rem;
  }
}

@media (min-width: 1960px) {
  .footer {
    position: static;
    bottom: 0;
    margin: 0 calc((1978px - 100vw)/2);
  }
}
/*# sourceMappingURL=footer.module.css.map */