.register__img img {
  width: 39rem;
  height: 26rem;
  margin: 7rem 2.75rem 0 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.register__register-box {
  padding: 6.313rem 12.5rem 0 0;
}

.register__register-box__title div:nth-of-type(1) {
  font-size: 1.875rem;
  color: var(--dark-black);
  font-weight: 800;
}

.register__register-box__title div:nth-of-type(2) {
  font-size: 1.0625rem;
  color: var(--grey);
}

.register__register-box__register-with {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 1.25rem;
  display: none !important;
}

.register__register-box__register-with div {
  font-size: 1.063rem;
  font-weight: 700;
  color: var(--dark-black);
  width: 8.875rem;
  height: 3.125rem;
  -webkit-box-shadow: 0 0.1875rem 1.25rem #0000001A;
          box-shadow: 0 0.1875rem 1.25rem #0000001A;
  border-radius: 0.75rem;
  padding: 0.8125rem 1.1875rem 0.8125rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 0.75rem;
  cursor: pointer;
}

.register__register-box__register-with div svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.9375rem;
}

.register__register-box__register-with div:last-child {
  margin-left: 0;
}

.register__register-box__register-with-email {
  font-size: 1.0625rem;
  color: var(--grey);
  text-align: center;
  margin: 1.5625rem 0 0 0;
  position: relative;
  display: none !important;
}

.register__register-box__register-with-email:before {
  content: '';
  position: absolute;
  top: 60%;
  left: 0;
  border-top: 0.05rem solid rgba(119, 119, 119, 0.5);
  width: 20%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.register__register-box__register-with-email:after {
  content: '';
  position: absolute;
  top: 60%;
  right: 0;
  border-top: 0.05rem solid rgba(119, 119, 119, 0.5);
  width: 20%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.register__register-box__registeration-form-box__name-field-container,
.register__register-box__registeration-form-box__email-field-container,
.register__register-box__registeration-form-box__password-field-container,
.register__register-box__registeration-form-box__phone-field-container {
  position: relative;
  -webkit-box-shadow: 0rem 0.1875rem 1.25rem #0000001A;
          box-shadow: 0rem 0.1875rem 1.25rem #0000001A;
  border-radius: 0.75rem;
  border: 0.0625rem solid transparent;
  padding: 0.8125rem 1.1875rem 0.8125rem 0.5rem;
  height: 3.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
}

.register__register-box__registeration-form-box__name-field-container {
  margin: 2.125rem 0 0 0;
}

.register__register-box__registeration-form-box__name-field-container svg {
  width: 1.25rem;
  height: 1.438rem;
}

.register__register-box__registeration-form-box__email-field-container {
  margin: 1.25rem 0 0 0;
}

.register__register-box__registeration-form-box__email-field-container svg {
  width: 1.25rem;
  height: 0.9375rem;
}

.register__register-box__registeration-form-box__password-field-container {
  margin: 1.25rem 0 0 0;
}

.register__register-box__registeration-form-box__password-field-container svg {
  width: 1.25rem;
  height: 1.4375rem;
}

.register__register-box__registeration-form-box__phone-field-container {
  margin: 1.25rem 0 0 0;
  padding: 0.8125rem 1.1875rem 0.8125rem 0;
}

.register__register-box__registeration-form-box__phone-field-container .register__register-box__registeration-form-box__icon-wrapper {
  left: 0;
  margin: 0 0 0 1rem;
}

.register__register-box__registeration-form-box__phone-field-container .register__register-box__registeration-form-box__icon-wrapper + div {
  width: 96% !important;
  border: none !important;
  height: 3.125rem !important;
  border: 0.0625rem solid transparent !important;
  padding: 0.8125rem 0.4rem 0.8125rem 0.5rem !important;
  margin: 0 auto 0 0 !important;
}

.register__register-box__registeration-form-box__phone-field-container .register__register-box__registeration-form-box__icon-wrapper + div > div > div {
  background-color: transparent !important;
  margin-right: auto !important;
  direction: ltr !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  width: 7rem !important;
  border-radius: 0.75rem 0 0 0.75rem !important;
  color: #777777 !important;
  font-size: 1.063rem !important;
}

.register__register-box__registeration-form-box__phone-field-container .register__register-box__registeration-form-box__icon-wrapper + div > div > div > div:nth-of-type(1) {
  margin-right: 1rem !important;
}

.register__register-box__registeration-form-box__phone-field-container .register__register-box__registeration-form-box__icon-wrapper + div > div > div > div:nth-of-type(2) {
  padding: 0 !important;
  direction: ltr !important;
}

.register__register-box__registeration-form-box__phone-field-container .register__register-box__registeration-form-box__icon-wrapper + div > div > div > div:nth-of-type(3) {
  color: rgba(119, 119, 119, 0.5) !important;
}

.register__register-box__registeration-form-box__phone-field-container .register__register-box__registeration-form-box__icon-wrapper + div > div > div > div:nth-of-type(3):after {
  font-size: 0.6rem !important;
}

.register__register-box__registeration-form-box__phone-field-container .register__register-box__registeration-form-box__icon-wrapper + div > div > div + ul {
  direction: rtl !important;
  padding: 0.5rem 0 0 0 !important;
  max-height: 12.5rem !important;
  text-align: right !important;
}

.register__register-box__registeration-form-box__phone-field-container .register__register-box__registeration-form-box__icon-wrapper + div > div > div + ul li {
  direction: ltr !important;
}

.register__register-box__registeration-form-box__phone-field-container .register__register-box__registeration-form-box__icon-wrapper + div input {
  height: 100% !important;
  width: 73% !important;
  border: none !important;
  border-left: 0.063rem solid rgba(119, 119, 119, 0.2) !important;
  padding: 0 0 0 0.5rem !important;
  font-size: 1rem !important;
}

.register__register-box__registeration-form-box__phone-field-container .register__register-box__registeration-form-box__icon-wrapper:nth-child(1) {
  right: 0;
  left: auto;
  margin: 0 1.1875rem 0 0;
}

.register__register-box__registeration-form-box__phone-field-container img {
  width: 1.6875rem;
  height: 1.125rem;
  border-radius: 0.125rem;
}

.register__register-box__registeration-form-box__phone-field-container svg {
  width: 1.25rem;
  height: 1.438rem;
}

.register__register-box__registeration-form-box__name-field,
.register__register-box__registeration-form-box__email-field,
.register__register-box__registeration-form-box__password-field,
.register__register-box__registeration-form-box__phone-field {
  font-size: 1.063rem;
  margin: 0 1.5rem 0 0;
  width: 100%;
  height: 100%;
  border: none !important;
  outline: none !important;
}

.register__register-box__registeration-form-box__name-field:active, .register__register-box__registeration-form-box__name-field:focus,
.register__register-box__registeration-form-box__email-field:active,
.register__register-box__registeration-form-box__email-field:focus,
.register__register-box__registeration-form-box__password-field:active,
.register__register-box__registeration-form-box__password-field:focus,
.register__register-box__registeration-form-box__phone-field:active,
.register__register-box__registeration-form-box__phone-field:focus {
  outline: 0 !important;
  border: none !important;
  -webkit-appearance: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.register__register-box__registeration-form-box__password-field {
  width: 87%;
}

.register__register-box__registeration-form-box__phone-field {
  margin: 0 1.5rem 0 6.5rem;
  border-radius: 0;
  border-left: 0.063rem solid rgba(119, 119, 119, 0.2) !important;
}

.register__register-box__registeration-form-box__phone-field:focus {
  border-left: 0.063rem solid rgba(119, 119, 119, 0.2) !important;
}

.register__register-box__registeration-form-box__country-code-dropdown {
  background-color: transparent !important;
}

.register__register-box__registeration-form-box__country-code-dropdown button {
  color: var(--grey) !important;
  background-color: transparent !important;
  border: 0 !important;
  outline: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
}

.register__register-box__registeration-form-box__country-code-dropdown button:after {
  margin: 0 0.4375rem 0 0 !important;
}

.register__register-box__registeration-form-box__country-code-dropdown button + div {
  height: 9.375rem;
  overflow-y: auto;
}

.register__register-box__registeration-form-box__country-code-dropdown button + div a {
  background-color: transparent !important;
  color: var(--dark-black) !important;
}

.register__register-box__registeration-form-box__country-code-dropdown button + div a:hover {
  background-color: rgba(119, 119, 119, 0.1) !important;
}

.register__register-box__registeration-form-box__show-password-icon-wrapper svg {
  width: 1.5rem;
  height: 1rem;
  cursor: pointer;
}

.register__register-box__registeration-form-box__icon-wrapper {
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.register__register-box__registeration-form-box__make-new-acc-btn {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  text-transform: none;
  font-size: 0.97rem;
  font-weight: 700;
  padding: 0.375rem 0.75rem;
  border-radius: 0.625rem;
  font-family: 'Almarai', sans-serif;
  border: 0 !important;
  background-color: var(--primary-red) !important;
  border: 0.125rem solid var(--primary-red) !important;
  width: 100%;
  height: 3.4rem;
  border-radius: 0.75rem;
  font-size: 1.063rem;
  margin-top: 2.625rem;
}

.register__register-box__registeration-form-box__make-new-acc-btn:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.register__register-box__registeration-form-box__make-new-acc-btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.register__register-box__registeration-form-box__make-new-acc-btn:hover, .register__register-box__registeration-form-box__make-new-acc-btn:active {
  background-color: #9d151e !important;
  border: 0.125rem solid #9d151e !important;
}

.register__register-box__registeration-form-box__do-you-have-acc {
  font-size: 1.125rem;
  text-align: center;
  margin: 1.5rem 0 5rem 0;
}

.register__register-box__registeration-form-box__do-you-have-acc span:nth-of-type(1) {
  color: var(--grey);
}

.register__register-box__registeration-form-box__do-you-have-acc span:nth-of-type(2) {
  color: var(--primary-red);
  font-weight: 800;
  cursor: pointer;
}

.required {
  border: 0.0625rem solid red !important;
}

.error-msg {
  font-size: 0.75rem;
  color: red;
  position: absolute;
}

.server-error-msg {
  font-size: 0.75rem;
  color: red;
  text-align: center;
  margin: 2rem 0 0 0;
  position: absolute;
  top: -0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

@media (max-width: 575px) {
  .server-error-msg {
    font-size: 1.35rem;
    margin: 4.6rem 0 0 0;
    top: -1.15rem;
  }
  .error-msg {
    font-size: 1.35rem;
  }
  .register {
    padding: 0 5rem;
  }
  .register__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: none !important;
  }
  .register__img img {
    width: 100%;
    height: 32rem;
    margin: 12rem 0 0 0;
  }
  .register__register-box {
    padding: 15rem 0 0 0;
    width: 100%;
  }
  .register__register-box__title {
    text-align: center;
  }
  .register__register-box__title div:nth-of-type(1) {
    font-size: 4.3125rem;
  }
  .register__register-box__title div:nth-of-type(2) {
    font-size: 2.44375rem;
  }
  .register__register-box__register-with {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 2.875rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .register__register-box__register-with div {
    font-size: 2.4449rem;
    width: 100%;
    height: 7.1875rem;
    -webkit-box-shadow: 0 0.1875rem 1.25rem #0000001A;
            box-shadow: 0 0.1875rem 1.25rem #0000001A;
    border-radius: 1.725rem;
    padding: 0.8125rem 1.1875rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 2.5rem 0 0 0;
  }
  .register__register-box__register-with div svg {
    width: 3.45rem;
    height: 3.45rem;
    margin-left: 3rem;
  }
  .register__register-box__register-with div:last-child {
    margin-left: 0;
  }
  .register__register-box__register-with-email {
    font-size: 2.44375rem;
    margin: 3.59375rem 0 0 0;
    position: relative;
  }
  .register__register-box__register-with-email:before {
    content: '';
    position: absolute;
    top: 60%;
    left: 0;
    border-top: 0.115rem solid rgba(119, 119, 119, 0.5);
    width: 12%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .register__register-box__register-with-email:after {
    content: '';
    position: absolute;
    top: 60%;
    right: 0;
    border-top: 0.115rem solid rgba(119, 119, 119, 0.5);
    width: 12%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .register__register-box__registeration-form-box__name-field-container,
  .register__register-box__registeration-form-box__email-field-container,
  .register__register-box__registeration-form-box__password-field-container,
  .register__register-box__registeration-form-box__phone-field-container {
    -webkit-box-shadow: 0rem 0.1875rem 1.25rem #0000001A;
            box-shadow: 0rem 0.1875rem 1.25rem #0000001A;
    border-radius: 1.725rem;
    padding: 1.86875rem 2.73125rem 1.86875rem 1.15rem;
    height: 7.1875rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .register__register-box__registeration-form-box__name-field-container {
    margin: 4.8875rem 0 0 0;
  }
  .register__register-box__registeration-form-box__name-field-container svg {
    width: 2.875rem;
    height: 3.3074rem;
  }
  .register__register-box__registeration-form-box__email-field-container {
    margin: 2.875rem 0 0 0;
  }
  .register__register-box__registeration-form-box__email-field-container svg {
    width: 2.875rem;
    height: 2.15625rem;
  }
  .register__register-box__registeration-form-box__password-field-container {
    margin: 2.875rem 0 0 0;
  }
  .register__register-box__registeration-form-box__password-field-container svg {
    width: 2.875rem;
    height: 3.30625rem;
  }
  .register__register-box__registeration-form-box__phone-field-container {
    margin: 2.875rem 0 0 0;
    padding: 1.86875rem 2.73125rem 1.86875rem 0;
  }
  .register__register-box__registeration-form-box__phone-field-container img {
    width: 3.88125rem;
    height: 2.5875rem;
    border-radius: 0.2875rem;
    margin-left: 1rem;
  }
  .register__register-box__registeration-form-box__phone-field-container svg {
    width: 2.875rem;
    height: 4.025rem;
  }
  .register__register-box__registeration-form-box__phone-field-container .register__register-box__registeration-form-box__icon-wrapper {
    left: 0;
    margin: 0 0 0 2.2rem;
  }
  .register__register-box__registeration-form-box__phone-field-container .register__register-box__registeration-form-box__icon-wrapper + div {
    width: 94.5% !important;
    border: none !important;
    height: 7.1875rem !important;
    border: 0.14375rem solid transparent !important;
    padding: 1.86875rem 0.92rem 1.86875rem 1.15rem !important;
    margin: 0 auto 0 0 !important;
  }
  .register__register-box__registeration-form-box__phone-field-container .register__register-box__registeration-form-box__icon-wrapper + div > div > div {
    background-color: transparent !important;
    margin-right: auto !important;
    direction: ltr !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    width: 12.6rem !important;
    border-radius: 1.725rem 0 0 1.725rem !important;
    color: #777777 !important;
    font-size: 2.4449rem !important;
    border: none !important;
    outline: 0 !important;
  }
  .register__register-box__registeration-form-box__phone-field-container .register__register-box__registeration-form-box__icon-wrapper + div > div > div > div:nth-of-type(1) {
    margin-right: 1.5rem !important;
  }
  .register__register-box__registeration-form-box__phone-field-container .register__register-box__registeration-form-box__icon-wrapper + div > div > div > div:nth-of-type(2) {
    padding: 0 !important;
  }
  .register__register-box__registeration-form-box__phone-field-container .register__register-box__registeration-form-box__icon-wrapper + div > div > div > div:nth-of-type(3) {
    color: rgba(119, 119, 119, 0.5) !important;
  }
  .register__register-box__registeration-form-box__phone-field-container .register__register-box__registeration-form-box__icon-wrapper + div > div > div > div:nth-of-type(3):after {
    font-size: 1.38rem !important;
  }
  .register__register-box__registeration-form-box__phone-field-container .register__register-box__registeration-form-box__icon-wrapper + div > div > div + ul {
    direction: rtl !important;
    padding: 1.15rem 0 0 0 !important;
    max-height: 28.75rem !important;
    text-align: right !important;
  }
  .register__register-box__registeration-form-box__phone-field-container .register__register-box__registeration-form-box__icon-wrapper + div input {
    height: 100% !important;
    width: 73% !important;
    border: none !important;
    border-left: 0.1449rem solid rgba(119, 119, 119, 0.2) !important;
    padding: 0 0 0 1.15rem !important;
    font-size: 2.3rem !important;
  }
  .register__register-box__registeration-form-box__phone-field-container .register__register-box__registeration-form-box__icon-wrapper:nth-child(1) {
    right: 0;
    left: auto;
    margin: 0 2.73125rem 0 0;
  }
  .register__register-box__registeration-form-box__name-field,
  .register__register-box__registeration-form-box__email-field,
  .register__register-box__registeration-form-box__password-field,
  .register__register-box__registeration-form-box__phone-field {
    font-size: 2.4449rem;
    margin: 0 3.45rem 0 0;
    width: 100%;
    height: 100%;
  }
  .register__register-box__registeration-form-box__name-field:active, .register__register-box__registeration-form-box__name-field:focus,
  .register__register-box__registeration-form-box__email-field:active,
  .register__register-box__registeration-form-box__email-field:focus,
  .register__register-box__registeration-form-box__password-field:active,
  .register__register-box__registeration-form-box__password-field:focus,
  .register__register-box__registeration-form-box__phone-field:active,
  .register__register-box__registeration-form-box__phone-field:focus {
    outline: 0 !important;
    border: none !important;
    -webkit-appearance: none;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  .register__register-box__registeration-form-box__password-field {
    width: 80%;
  }
  .register__register-box__registeration-form-box__phone-field {
    margin: 0 4rem 0 15rem;
    border-radius: 0;
    border-left: 0.063rem solid rgba(119, 119, 119, 0.2) !important;
  }
  .register__register-box__registeration-form-box__phone-field:focus {
    border-left: 0.063rem solid rgba(119, 119, 119, 0.2) !important;
  }
  .register__register-box__registeration-form-box__country-code-dropdown button {
    font-size: 2.5rem !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .register__register-box__registeration-form-box__country-code-dropdown button:after {
    margin: 0 1.00625rem 0 0 !important;
  }
  .register__register-box__registeration-form-box__country-code-dropdown button + div {
    min-width: 17rem;
    border-radius: 0.575rem;
    font-size: 2.3rem;
  }
  .register__register-box__registeration-form-box__country-code-dropdown button + div a {
    background-color: transparent !important;
    color: var(--dark-black) !important;
  }
  .register__register-box__registeration-form-box__country-code-dropdown button + div a:hover {
    background-color: rgba(119, 119, 119, 0.1) !important;
  }
  .register__register-box__registeration-form-box__show-password-icon-wrapper svg {
    width: 3.45rem;
    height: 2.3rem;
    margin-right: 0.5rem;
  }
  .register__register-box__registeration-form-box__icon-wrapper {
    height: 100%;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .register__register-box__registeration-form-box__make-new-acc-btn {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    text-transform: none;
    font-size: 0.97rem;
    font-weight: 700;
    padding: 0.375rem 0.75rem;
    border-radius: 0.625rem;
    font-family: 'Almarai', sans-serif;
    border: 0 !important;
    background-color: var(--primary-red) !important;
    border: 0.125rem solid var(--primary-red) !important;
    width: 100%;
    height: 7.82rem;
    border-radius: 1.725rem;
    font-size: 2.4449rem;
    margin-top: 6.0375rem;
  }
  .register__register-box__registeration-form-box__make-new-acc-btn:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .register__register-box__registeration-form-box__make-new-acc-btn:active {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .register__register-box__registeration-form-box__make-new-acc-btn:hover, .register__register-box__registeration-form-box__make-new-acc-btn:active {
    background-color: #9d151e !important;
    border: 0.125rem solid #9d151e !important;
  }
  .register__register-box__registeration-form-box__do-you-have-acc {
    font-size: 2.5875rem;
    margin: 3.45rem 0 11.5rem 0;
  }
}
/*# sourceMappingURL=sign-up-page.module.css.map */