@import "../../../styles/mixins";

.about-tadarab {
    background-color: rgba(0, 20, 37, 0.04);
}

.about-tadarab__cards-carousel-container {
    border-radius: 0 0 5rem 5rem;
    padding-bottom: 2rem;
    background-color: white;

    &>div:nth-child(1) {
        padding-top: 0.5rem;
        height: 30rem;
        margin-bottom: 3rem;
        padding-bottom: 2rem;

        &>div:nth-child(1),
        &>div:nth-child(2) {
            top: 47% !important;
            &:after{
                font-size: 1rem*1.2 !important;
                box-shadow: 0 0 1.25rem*1.2 #00000033 !important;
              }

        }
        &>div:nth-child(1){
            right: 1rem*1.2 !important;
            &:after{
              padding: 1.5rem*1.2 1.18rem*1.2 1.5rem*1.2 1.28rem*1.2 !important;
            }

        }
        &>div:nth-child(2){
            left: 1rem*1.2 !important;
            &:after{
              padding: 1.5rem*1.2 1.28rem*1.2 1.5rem*1.2 1.18rem*1.2 !important;
            }
        }

        &>div:nth-child(3) {
            bottom: 0;
            display: block !important;

            span {
                margin: 0 0.5rem 0 0.5rem;
                width: 0.7rem;
                height: 0.7rem;
            }
        }

        &>div:nth-child(4) {
            padding-bottom: 2rem;

            &>div:nth-child(n) {

                @include flex(center, flex-start);
            }
        }
    }

}

.about-tadarab__title {
    font-size: 2rem;
    font-weight: 800;
    padding: 5.25rem 3rem 0.8rem 3rem;
    background-color: white;
    @include flex(center, center);

    span:nth-of-type(1) {
        color: var(--dark-black);
    }

    span:nth-of-type(2) {
        color: var(--primary-red);
        margin-right: 0.3rem;
    }
}

.about-tadarab__breif {
    @include flex(center, center);
    background-color: white;
    font-size: 1.063rem;
    color: var(--grey);
}


.about-tadarab__cards-carousel__item__container {
    width: 70.375rem;
    height: 21.438rem;
    margin-right: 7rem;
    @include flex(center);
    position: relative;

}

.about-tadarab__cards-carousel__item__container__img {
    width: 26.625rem;
    height: 21.438rem;
    display: inline-block;
    position: relative;
    
    img {
        border-radius: 1.375rem;
        width: 100%;
    }

}

.black-overlay {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    border-radius: 1.375rem;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.about-tadarab__cards-carousel__item__container__course-details-box {
    @include flex(center);
    position: absolute;
    bottom: 2rem;
    right: 2rem;


}

.about-tadarab__cards-carousel__item__container__course-details-box__trainer-img {
    display: inline-block;

    img {

        border-radius: 50%;
        width: 2.5rem;
        height: 2.5rem;
        margin-left: 0.6rem;
    }
}

.about-tadarab__cards-carousel__item__container__course-details-box__course-details {
    display: inline-block;

}

.about-tadarab__cards-carousel__item__container__course-details-box__course-details__title {
    font-size: 1.125rem;
    font-weight: 800;
    color: white;
    width: 16.8rem;
}

.about-tadarab__cards-carousel__item__container__course-details-box__course-details__author {
    font-size: 0.938rem;
    color: rgba(255, 255, 255, 0.8);
}

.about-tadarab__cards-carousel__item__container__review-box {
    @include flex(flex-start,space-evenly);
    flex-direction: column;
    background-color: white;
    width: 46.875rem;
    height: 16.875rem;
    box-shadow: 0 0 1.875rem #0000001A;
    border-radius: 1.25rem;
    display: inline-flex;
    padding: 1.7rem 2.5rem;
    position: absolute;
    right: 22.5rem;
}

.about-tadarab__cards-carousel__item__container__review-box__quote{
    svg{
        width: 2.5rem;
        height: 2rem;
    }
}

.about-tadarab__cards-carousel__item__container__review-box__review {
    font-size: 1.25rem;
    color: #555555;
    margin: 1rem 0 1rem 0;
}

.about-tadarab__cards-carousel__item__container__review-box__reviewer-details {
    div:nth-of-type(1) {

        font-size: 1.5rem;
        font-weight: 800;
        color: var(--dark-black);
    }

    div:nth-of-type(2) {
        font-size: 1.25rem;
        color: var(--grey);
    }
}


@media (max-width:575px){

    .about-tadarab__cards-carousel-container {
        border-radius: 0 0 5rem 5rem;
        padding-bottom: 9rem;
    
        &>div:nth-child(1) {
            padding: 1rem 0 0 0 ;
            height: fit-content;
            margin-bottom: 0;
    
            &>div:nth-child(1),
            &>div:nth-child(2) {
                top: 47% !important;
                &:after{
                    font-size: 1rem*2 !important;
                    box-shadow: 0 0 1.25rem*2 #00000033 !important;
                  }
            }
          
    
            &>div:nth-child(3) {
                bottom: 0rem;
                display: block !important;
    
                span {
                    margin: 0 1rem 0 1rem;
                    width: 1.2rem;
                    height: 1.2rem;
                }
            }
    
            &>div:nth-child(4) {
                padding-bottom: 2rem;
                height: 55rem;
                // margin-top: 4rem;
    
                &>div:nth-child(n) {
                    @include flex(center, flex-start);
                }
            }
        }
    
    }
    
    .about-tadarab__title {
        font-size: 4.688rem;
        padding: 5.25rem 0 2.344rem 0;
        @include flex(center, center);
    
        span:nth-of-type(2) {
            margin-right: 0.3rem;
        }
    }

    .about-tadarab__breif {
        @include flex(center, center);
        font-size: 2.6rem;
        padding: 0 12.5rem 0 12.5rem;
        text-align: center;
    }
    
    
    .about-tadarab__cards-carousel__item__container {
        width: 70.375rem;
        height: 21.438rem;
        margin-right: 7rem;
        @include flex(center);
        position: relative;
    
    }
    
    .about-tadarab__cards-carousel__item__container__img {
        display: none;
        img {
        border-radius: 1.375rem*2.5;
            width: 100%;
        }
    }
    .black-overlay {
        border-radius: 1.375rem*2.5;
    }
    
    .about-tadarab__cards-carousel__item__container__course-details-box {
        @include flex(center);
        position: absolute;
        bottom: 2rem;
        right: 2rem;
    }
    
    .about-tadarab__cards-carousel__item__container__course-details-box__trainer-img {
        display: inline-block;
        img {
    
            border-radius: 50%;
            width: 2.5rem;
            height: 2.5rem;
            margin-left: 0.6rem;
        }
    }
    
    .about-tadarab__cards-carousel__item__container__course-details-box__course-details {
        display: inline-block;
    
    }
    
    .about-tadarab__cards-carousel__item__container__course-details-box__course-details__title {
        font-size: 1.125rem;
    }
    
    .about-tadarab__cards-carousel__item__container__course-details-box__course-details__author {
        font-size: 0.938rem;
    }
    
    .about-tadarab__cards-carousel__item__container__review-box {
        background-color: white;
        width: 46.875rem;
        height: fit-content;
        box-shadow: 0 0 1.875rem #0000001A;
        border-radius: 3.125rem;
        padding: 3rem 4.688rem;
        position: static;
    }
    
    .about-tadarab__cards-carousel__item__container__review-box__quote{
        svg{
            width: 6.25rem;
            height: 7.8rem;
        }
    }
    
    .about-tadarab__cards-carousel__item__container__review-box__review {
        font-size: 2.5rem;
        margin: 1rem 0 1.5rem 0;
    }
    
    .about-tadarab__cards-carousel__item__container__review-box__reviewer-details {
        div:nth-of-type(1) {
            font-size: 3rem;
        }
    
        div:nth-of-type(2) {
            font-size: 2.5rem;
        }
    }
}