.faq__row {
  background-color: rgba(14, 11, 29, 0.02);
  margin: 5.625rem 0 0 0;
  padding: 5.625rem 8.75rem 0 8.75rem;
}

.faq__title {
  font-size: 1.5rem;
  color: var(--dark-black);
}

.faq__title div:nth-of-type(2) {
  font-weight: 800;
  margin: 0 0 2.5625rem 0;
}

.faq__accordion {
  border-radius: 1.25rem !important;
  margin-top: 1.563rem;
}

.faq__accordion__item {
  border-radius: 1.063rem !important;
  -webkit-box-shadow: 0 0 1.25rem #00000014;
          box-shadow: 0 0 1.25rem #00000014;
  border: 0 !important;
  margin-top: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.faq__accordion__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
}

.faq__accordion__header svg {
  margin-left: 1.3rem;
}

.faq__accordion__header button {
  font-size: 1.125rem;
  font-weight: 800;
  color: var(--dark-black) !important;
  background-color: white !important;
  padding: 1.5rem !important;
  border-radius: 1.25rem !important;
  direction: ltr !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
}

.faq__accordion__header button::after {
  background-image: url("/images/arrow1.svg") !important;
  background-size: 1.25rem 1.1rem !important;
  margin-left: 1rem !important;
  margin-top: 0.3rem !important;
}

.faq__accordion__header button:not(.collapsed)::after {
  background-image: url("/images/arrow1.svg") !important;
  background-size: 1.25rem 1.1rem !important;
  margin-left: 1rem !important;
  margin-top: 0.3rem !important;
}

.faq__accordion__body {
  font-size: 1rem;
  color: var(--grey);
  padding: 0 3.8rem 2rem 2rem !important;
}

.faq__contact-us {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 1.625rem 0 7.125rem 0;
}

.faq__contact-us span:nth-of-type(1) {
  color: var(--dark-black);
}

.faq__contact-us span:nth-of-type(2) {
  color: var(--primary-red);
}

@media (max-width: 575px) {
  .faq__row {
    margin: 5.625rem 0 0 0;
    padding: 5.625rem 5rem 0 5rem;
  }
  .faq {
    margin-top: 9.375rem;
    width: 100%;
  }
  .faq__title {
    font-size: 3.45rem;
  }
  .faq__accordion {
    border-radius: 2.875rem !important;
    margin-top: 3.5949rem;
  }
  .faq__accordion__item {
    border-radius: 2.4449rem !important;
    -webkit-box-shadow: 0 0 2.875rem #00000014;
            box-shadow: 0 0 2.875rem #00000014;
    border: 0 !important;
    margin-top: 2.875rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .faq__accordion__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .faq__accordion__header svg {
    margin-left: 2.99rem;
  }
  .faq__accordion__header button {
    font-size: 2.2rem;
    padding: 3.45rem !important;
    border-radius: 2.875rem !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    text-align: right;
  }
  .faq__accordion__header button::after {
    background-size: 2.875rem 2.53rem !important;
    margin-left: 2.3rem !important;
    margin-top: 0.69rem !important;
  }
  .faq__accordion__header button:not(.collapsed)::after {
    background-size: 2.875rem 2.53rem !important;
    margin-left: 2.3rem !important;
    margin-top: 0.69rem !important;
  }
  .faq__accordion__body {
    font-size: 2.2rem;
    padding: 0 8.74rem 4.6rem 4.6rem !important;
  }
  .faq__contact-us {
    font-size: 2.5875rem;
    margin-top: 3.7375rem;
  }
}
/*# sourceMappingURL=faq.module.css.map */