@import "../../../styles/mixins";

.join-us-row{
    background-color: rgba(0, 20, 37, 0.04);
}
.join-us{
    text-align: center;
    margin-bottom: 6rem;
}

.join-us__title{
    font-size: 2rem;
    font-weight: 800;
    color: var(--dark-black);
    margin-top: 5.625rem;
}

.join-us__subscribe-bar-box{
    position: relative;
    @include flex(center,center);
    box-shadow: 0 0 1.625rem #0000001A;
    border-radius: 0.75rem;
    overflow: hidden;
    font-weight: 400;
    padding: 0.4rem 0rem 0.4rem 0rem;
    letter-spacing: 0;
    background-color: white;
    margin-top: 2rem;
    width: 27.188rem;
}

.join-us__subscribe-bar-box__email-field{
    border: 0 !important;
    padding: 0 1.5rem 0 0;
    width: 65%;
    height: 100%;
    font-size: 1.063rem;
    color: rgba(34, 34, 34, 0.5);

    &:active,
    &:focus {
        outline: 0 !important;
        -webkit-appearance: none;
        box-shadow: none !important;
    }

}

.join-us__subscribe-bar-box__btn{
    @include contained-button;
    color: white;
    font-weight: 700;
    font-size: 0.938rem;
    width: 8.813rem;
    height: 2.5rem;
    margin: 0 0.5rem 0 0.5rem;
}


@media (max-width:575px){
    .join-us{
        text-align: center;
        margin-bottom: 8.594rem;
    }
    
    .join-us__title{
        font-size: 3.75rem;
        margin: 8.594rem 6rem 0 6rem;
    }
    
    .join-us__subscribe-bar-box{
        @include flex(center,space-between);
        box-shadow: 0 0 3rem #0000001A;
        border-radius: 1.5rem;
        padding: 0.4rem 0rem 0.4rem 0rem;
        margin: 2rem 4rem 0 4rem;
        width: 100%;
        height: 5.8rem;
    }
    
    .join-us__subscribe-bar-box__email-field{
        border: 0 !important;
        padding: 0 2.5rem 0 0;
        width: 80%;
        height: 100%;
        font-size: 1.8rem;
    
        &:active,
        &:focus {
            outline: 0 !important;
            -webkit-appearance: none;
            box-shadow: none !important;
        }
    
    }
    
    .join-us__subscribe-bar-box__btn{
        @include contained-button;
        font-size: 1.6rem;
        width: 8.813rem;
        height: 85%;
        margin: 0 0.8rem 0 0.8rem;
        border-radius: 1.2rem;
    }
}