.statistics {
  margin: 5.9375rem 6rem 0 6rem;
  height: 29.375rem;
  position: relative;
}

.statistics::before {
  content: "";
  background-image: url("/images/map.svg");
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.6;
}

.statistics__title {
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  padding: 2rem 3rem 2rem 3rem;
}

.statistics__title span:nth-of-type(1) {
  color: var(--dark-black);
}

.statistics__title span:nth-of-type(2) {
  color: var(--primary-red);
}

.statistics__breif {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--grey);
  text-align: center;
}

.statistics__details {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3rem;
}

.statistics__details > div {
  width: 8rem;
}

.statistics__details__img svg {
  width: 4.938rem;
  height: 3.125rem;
}

.statistics__details__counter {
  font-size: 3.125rem;
  font-weight: 800;
  color: var(--primary-red);
}

.statistics__details__counter span:nth-of-type(2) {
  font-size: 1.375rem;
}

.statistics__details__unit {
  font-size: 1.375rem;
  font-weight: 800;
  color: var(--dark-black);
  line-height: 0;
}

.marketing-boxes__box {
  margin: 7.735rem 0 7rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.marketing-boxes__box:nth-of-type(1) {
  padding-right: 8.75rem;
}

.marketing-boxes__image {
  padding-left: 8.75rem;
}

.marketing-boxes__image img {
  width: 26.25rem;
  height: 15.625rem;
  border-radius: 1.25rem;
}

.marketing-boxes__title {
  font-size: 1.5rem;
  font-weight: 800;
  width: 27.75rem;
}

.marketing-boxes__title--important {
  color: var(--primary-red);
  display: inline-block;
  margin: 0 0.1rem;
}

.marketing-boxes__brief {
  margin: 0.2rem 0 0 0;
  width: 30rem;
}

.marketing-boxes__brief div {
  margin-top: 0.2rem;
}

.marketing-boxes__brief svg {
  width: 1.125rem;
  height: 0.875rem;
  margin: 0 0 0 0.3rem;
}

.marketing-boxes__brief__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.marketing-boxes__brief__list-item div {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media (max-width: 575px) {
  .statistics {
    margin: 20rem 5rem 0 5rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .statistics::before {
    content: "";
    background-image: url("/images/map.svg");
    background-size: 100% 30%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.6;
  }
  .statistics__title {
    text-align: center;
    font-size: 4.5rem;
    padding: 2rem 0 4rem 0;
  }
  .statistics__breif {
    font-size: 2.656rem;
    margin: 0 -1rem 0 -1rem;
  }
  .statistics__details__card {
    margin-bottom: 9.688rem;
  }
  .statistics__details {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 7.813rem 0 0 0;
    padding-bottom: 8.75rem;
  }
  .statistics__details > div {
    width: 50%;
  }
  .statistics__details__img svg {
    width: 12.345rem;
    height: 7.8125rem;
  }
  .statistics__details__counter {
    font-size: 7.8125rem;
  }
  .statistics__details__counter span:nth-of-type(2) {
    font-size: 3.4375rem;
  }
  .statistics__details__unit {
    font-size: 3.4375rem;
  }
  .marketing-boxes__box {
    margin: 0 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .marketing-boxes__box:nth-of-type(1) {
    padding: 0 5rem;
  }
  .marketing-boxes__image {
    padding: 0 5rem;
  }
  .marketing-boxes__image img {
    width: 100%;
    height: 35rem;
    border-radius: 2.875rem;
  }
  .marketing-boxes__title {
    font-size: 3.45rem;
    width: 100%;
    text-align: right;
    margin: 9.75rem 0 0 0;
  }
  .marketing-boxes__brief {
    font-size: 2.3rem;
    margin: 2.5875rem 0 9.75rem 0;
    width: 100%;
  }
  .marketing-boxes__brief div {
    margin-top: 0.5rem;
  }
  .marketing-boxes__brief svg {
    width: 2.8125rem;
    height: 2.1875rem;
    margin: 0 0 0 0.75rem;
  }
}
/*# sourceMappingURL=statistics.module.css.map */