.success-state {
  margin-top: 9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.success-state__img svg {
  width: 7rem;
  height: 6.75rem;
}

.success-state__purchasing-done {
  font-size: 1.875rem;
  font-weight: 800;
  color: var(--dark-black);
  margin: 1.25rem 3rem 0 0;
  text-align: center;
}

.success-state__begin-learning {
  font-size: 1.25rem;
  color: var(--grey);
  margin: 0.5rem 3rem 0 0;
  text-align: center;
}

.success-state__btn {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  text-transform: none;
  font-size: 0.97rem;
  font-weight: 700;
  padding: 0.375rem 0.75rem;
  border-radius: 0.625rem;
  font-family: 'Almarai', sans-serif;
  border: 0 !important;
  background-color: var(--primary-red) !important;
  border: 0.125rem solid var(--primary-red) !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 13.75rem;
  height: 2.8125rem;
  margin: 1.3rem 0 0 0;
}

.success-state__btn:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.success-state__btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.success-state__btn:hover, .success-state__btn:active {
  background-color: #9d151e !important;
  border: 0.125rem solid #9d151e !important;
}

.success-state__btn span {
  font-size: 1rem;
  font-weight: 700;
}

.success-state__btn svg {
  width: 0.75rem;
  height: 0.75rem;
  margin: 0 0.5rem 0 0;
}

.success-state__bill-details {
  font-size: 1rem;
  font-weight: 700;
  color: var(--primary-red);
  margin: 1.5rem 0 0 0;
}

.success-state-row__invoice-box {
  margin: 9.5rem 8rem 0 0;
  padding: 1.5625rem 1.25rem;
  width: 21.875rem;
  height: 28.125rem;
  -webkit-box-shadow: 0 0 1.25rem #0000001A;
          box-shadow: 0 0 1.25rem #0000001A;
  border-radius: 1.25rem;
}

.success-state-row__invoice-box__title {
  text-align: center;
  font-size: 1rem;
  font-weight: 800;
  color: var(--dark-black);
}

.success-state-row__invoice-box__details-box {
  margin: 1.25rem 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 88%;
}

.success-state-row__invoice-box__details-box__details {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.75rem;
}

.success-state-row__invoice-box__details-box__details div {
  background-color: white;
  z-index: 1;
}

.success-state-row__invoice-box__details-box__details div:nth-of-type(1) {
  color: var(--grey);
  padding: 0 0 0 0.5rem;
}

.success-state-row__invoice-box__details-box__details div:nth-of-type(2) {
  color: var(--dark-black);
  font-weight: 700;
  padding: 0 0.5rem 0 0;
}

.success-state-row__invoice-box__details-box__details:before {
  content: '';
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-top: 0.05rem dashed rgba(119, 119, 119, 0.5);
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 575px) {
  .success-state {
    margin-top: 20.7rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .success-state__img svg {
    width: 16.1rem;
    height: 15.525rem;
  }
  .success-state__purchasing-done {
    font-size: 3.9375rem;
    font-weight: 800;
    color: var(--dark-black);
    margin: 2.625rem 5rem 0 5rem;
  }
  .success-state__begin-learning {
    font-size: 2.625rem;
    color: var(--grey);
    margin: 1.05rem 5rem 0 5rem;
  }
  .success-state__btn {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    text-transform: none;
    font-size: 0.97rem;
    font-weight: 700;
    padding: 0.375rem 0.75rem;
    border-radius: 0.625rem;
    font-family: 'Almarai', sans-serif;
    border: 0 !important;
    background-color: var(--primary-red) !important;
    border: 0.125rem solid var(--primary-red) !important;
    width: 31.625rem;
    height: 6.46875rem;
    margin: 2.73rem 0 0 0;
    border-radius: 1.4375rem;
  }
  .success-state__btn:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .success-state__btn:active {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .success-state__btn:hover, .success-state__btn:active {
    background-color: #9d151e !important;
    border: 0.125rem solid #9d151e !important;
  }
  .success-state__btn span {
    font-size: 2.3rem;
    font-weight: 700;
  }
  .success-state__btn svg {
    width: 2.3rem;
    height: 2.3rem;
    margin: 0 1.15rem 0 0;
  }
  .success-state__bill-details {
    font-size: 2.3rem;
    font-weight: 700;
    color: var(--primary-red);
    margin: 3.45rem 0 0 0;
  }
  .success-state-row__invoice-box {
    margin: 7rem 7.5% 10rem 7.5%;
    padding: 3.59375rem 2.875rem;
    width: 85%;
    height: 64.6875rem;
    -webkit-box-shadow: 0 0 2.875rem #0000001A;
            box-shadow: 0 0 2.875rem #0000001A;
    border-radius: 2.875rem;
  }
  .success-state-row__invoice-box__title {
    font-size: 2.3rem;
  }
  .success-state-row__invoice-box__details-box {
    margin: 2.875rem 0 0 0;
    height: 88%;
  }
  .success-state-row__invoice-box__details-box__details {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 1.725rem;
  }
  .success-state-row__invoice-box__details-box__details div:nth-of-type(1) {
    padding: 0 0 0 1.15rem;
  }
  .success-state-row__invoice-box__details-box__details div:nth-of-type(2) {
    padding: 0 1.15rem 0 0;
  }
  .success-state-row__invoice-box__details-box__details:before {
    border-top: 0.115rem dashed rgba(119, 119, 119, 0.5);
  }
}
/*# sourceMappingURL=success-state.module.css.map */