@import "../../../styles/mixins"; 

.mobile-checkout-bar{
    background-color: white;
    height: 11.5rem;
    box-shadow: 0 -0.781rem 3.281rem #00000014;
    @include flex(center, center);
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 8;
    display: none;
}

.mobile-checkout-bar__subscribe-btn{
    @include flex(center, center);
    @include contained-button;
    padding: 0.9375rem 1.875rem;
    border-radius: 1.5625rem;
    width: 50rem;
    height: 6.5rem;
    margin-top: 0.4rem;

    svg{
        width:3.281rem;
        height:2.8rem;
        margin-left: 0.3rem;
    }
    span{
        font-size: 2.188rem;
        font-weight: 700;
    }

    &+div{
        font-size: 1.8rem;
        text-align: center;
        margin-top: 0.2rem;
    }

}

.mobile-checkout-bar__course-card__price-box {
    color: var(--dark-black);
}

.mobile-checkout-bar__course-card__price-box__price {
    font-size: 3.438rem;
    font-weight: 800;
}

.mobile-checkout-bar__course-card__price-box__currency {
    font-size: 2.188rem;
    font-weight: 700;
}

.mobile-checkout-bar__course-card__old-price-box--line-through {
    @include flex(center);
    display: inline-flex;
    text-decoration: line-through var(--primary-red);
}

.mobile-checkout-bar__course-card__old-price-box {
    color: var(--grey);
    margin-top: -0.4rem;
}

.mobile-checkout-bar__course-card__old-price-box__price {
    font-size: 2.031rem;
    font-weight: 800;
}

.mobile-checkout-bar__course-card__old-price-box__currency{
    font-size: 1.719rem;
}