.trainer-info-section {
  margin-top: 4.063rem;
  color: var(--grey);
  width: 43.75rem;
}

.trainer-info-section__trainer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.trainer-info-section__trainer-img img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.trainer-info-section__trainer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 1.063rem;
}

.trainer-info-section__trainer-info__name {
  font-size: 1.25rem;
  font-weight: 800;
  color: var(--dark-black);
}

.trainer-info-section__trainer-info__title {
  font-size: 0.938rem;
  color: var(--grey);
}

.trainer-info-section__trainer-info__courses-number-box {
  margin-right: -0.3rem;
  font-size: 0.938rem;
}

.trainer-info-section__trainer-info__courses-number-box span {
  font-weight: 700;
}

.trainer-info-section__trainer-info__courses-number-box svg {
  margin-left: 0.1rem;
}

.trainer-info-section__trainer-info__courses-number-box__separator {
  margin: 0 0.2rem 0 0.2rem;
}

.trainer-info-section__para {
  font-size: 1rem;
  margin: 1.3rem 0 0.8rem 0;
}

.trainer-info-section__view-trainer-account span {
  font-size: 1rem;
  color: var(--primary-red);
  font-weight: 800;
  margin-left: 0.5rem;
}

@media (max-width: 575px) {
  .trainer-info-section__scrollspy-helper {
    position: absolute;
  }
  .trainer-info-section {
    margin-top: 10.938rem;
    width: 100%;
    position: relative;
  }
  .trainer-info-section__trainer-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .trainer-info-section__trainer-img img {
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
  }
  .trainer-info-section__trainer-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 2.6575rem;
  }
  .trainer-info-section__trainer-info__name {
    font-size: 3.125rem;
  }
  .trainer-info-section__trainer-info__title {
    font-size: 2.345rem;
  }
  .trainer-info-section__trainer-info__courses-number-box {
    margin-right: -0.75rem;
    font-size: 2.345rem;
  }
  .trainer-info-section__trainer-info__courses-number-box span {
    font-weight: 700;
  }
  .trainer-info-section__trainer-info__courses-number-box svg {
    margin-left: 0.25rem;
    width: 4.22rem;
    height: 2.5rem;
  }
  .trainer-info-section__trainer-info__courses-number-box__separator {
    margin: 0 0.5rem 0 0.5rem;
  }
  .trainer-info-section__para {
    font-size: 2.1875rem;
    margin: 3.25rem 0 2rem 0;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }
  .trainer-info-section__view-trainer-account {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .trainer-info-section__view-trainer-account span {
    font-size: 2.5rem;
    margin-left: 1.25rem;
  }
  .trainer-info-section__view-trainer-account svg {
    width: 0.9375rem;
    height: 1.5625rem;
    margin-top: 0.5rem;
  }
}
/*# sourceMappingURL=trainer-info.module.css.map */