.forget-password__forget-password-box {
  padding: 13rem 13rem 0 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.forget-password__forget-password-box__title div:nth-of-type(1) {
  font-size: 1.875rem;
  color: var(--dark-black);
  font-weight: 800;
}

.forget-password__forget-password-box__title div:nth-of-type(2) {
  font-size: 1.0625rem;
  color: var(--grey);
}

.forget-password__forget-password-box__email-field-container {
  position: relative;
  margin: 1.75rem 0 0 0;
  -webkit-box-shadow: 0rem 0.1875rem 1.25rem #0000001A;
          box-shadow: 0rem 0.1875rem 1.25rem #0000001A;
  border-radius: 0.75rem;
  border: 0.0625rem solid transparent !important;
  padding: 0.8125rem 1.1875rem 0.8125rem 0.5rem;
  height: 3.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
}

.forget-password__forget-password-box__email-field-container svg {
  width: 1.25rem;
  height: 0.9375rem;
}

.forget-password__forget-password-box__icon-wrapper svg {
  width: 1.5rem;
  height: 1rem;
}

.forget-password__forget-password-box__email-field {
  font-size: 1.063rem;
  width: 26rem;
  height: 100%;
  border: none !important;
  outline: none !important;
}

.forget-password__forget-password-box__email-field:active, .forget-password__forget-password-box__email-field:focus {
  outline: 0 !important;
  border: none !important;
  -webkit-appearance: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.forget-password__forget-password-box__send-btn {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  text-transform: none;
  font-size: 0.97rem;
  font-weight: 700;
  padding: 0.375rem 0.75rem;
  border-radius: 0.625rem;
  font-family: 'Almarai', sans-serif;
  border: 0 !important;
  background-color: var(--primary-red) !important;
  border: 0.125rem solid var(--primary-red) !important;
  width: 100%;
  height: 3.4rem;
  border-radius: 0.75rem;
  font-size: 1.063rem;
  margin: 3rem 0 5rem 0;
}

.forget-password__forget-password-box__send-btn:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.forget-password__forget-password-box__send-btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.forget-password__forget-password-box__send-btn:hover, .forget-password__forget-password-box__send-btn:active {
  background-color: #9d151e !important;
  border: 0.125rem solid #9d151e !important;
}

.forget-password__img img {
  width: 31rem;
  height: 20rem;
  margin: 9rem 6rem 0 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.error-msg {
  color: red;
  position: absolute;
  font-size: 0.8125rem;
}

.required {
  border: 0.0625rem solid red !important;
}

.server-response {
  font-size: 0.75rem;
  text-align: center;
  margin: 2rem 0 0 0;
  position: absolute;
  top: -0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

@media (max-width: 575px) {
  .server-response {
    font-size: 1.35rem;
    margin: 4.6rem 0 0 0;
    top: -1.15rem;
  }
  .forget-password {
    padding: 7rem 5rem 0 5rem;
  }
  .forget-password__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: none;
  }
  .forget-password__img img {
    width: 100%;
    height: 45rem;
    margin: 12rem 6rem 0 0;
  }
  .forget-password__forget-password-box {
    padding: 6.313rem 0 0 0;
    width: 100%;
  }
  .forget-password__forget-password-box__title {
    text-align: center;
  }
  .forget-password__forget-password-box__title div:nth-of-type(1) {
    font-size: 4.3125rem;
  }
  .forget-password__forget-password-box__title div:nth-of-type(2) {
    font-size: 2.44375rem;
  }
  .forget-password__forget-password-box__email-field-container {
    margin: 4.025rem 0 0 0;
    -webkit-box-shadow: 0rem 0.43125rem 2.875rem #0000001A;
            box-shadow: 0rem 0.43125rem 2.875rem #0000001A;
    border-radius: 1.725rem;
    border: 0.14375rem solid transparent !important;
    padding: 1.86875rem 2.73125rem 1.86875rem 1.15rem;
    height: 7.1875rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .forget-password__forget-password-box__email-field-container svg {
    width: 2.875rem;
    height: 2.15625rem;
  }
  .forget-password__forget-password-box__icon-wrapper svg {
    width: 3.45rem;
    height: 2.3rem;
  }
  .forget-password__forget-password-box__email-field {
    font-size: 2.4449rem;
    width: 59.8rem;
    height: 100%;
  }
  .forget-password__forget-password-box__send-btn {
    width: 100%;
    height: 7.82rem;
    border-radius: 1.725rem;
    font-size: 2.4449rem;
    margin: 6.9rem 0 11.5rem 0;
  }
  .error-msg {
    font-size: 1.86875rem;
  }
  .required {
    border: 0.14375rem solid red !important;
  }
}
/*# sourceMappingURL=forget-password-page.module.css.map */