@charset "UTF-8";
.unlimited-courses {
  margin: 4.3rem 0 0 0;
  background-image: url("/images/7 final ان شاء الله.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 89vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.unlimited-courses > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1rem;
  width: 100%;
  height: 100%;
}

.unlimited-courses__subscribe-btn {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  text-transform: none;
  font-size: 0.97rem;
  font-weight: 700;
  padding: 0.375rem 0.75rem;
  border-radius: 0.625rem;
  font-family: 'Almarai', sans-serif;
  border: 0 !important;
  background-color: var(--primary-red) !important;
  border: 0.125rem solid var(--primary-red) !important;
  padding: 0.375rem 0.75rem;
  border-radius: 0.625rem;
  width: 16rem;
  font-size: 0.97rem;
}

.unlimited-courses__subscribe-btn:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.unlimited-courses__subscribe-btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.unlimited-courses__subscribe-btn:hover, .unlimited-courses__subscribe-btn:active {
  background-color: #9d151e !important;
  border: 0.125rem solid #9d151e !important;
}

.unlimited-courses__exp-days {
  font-size: 0.625rem;
  color: white;
  margin-top: 0.3rem;
}

.unlimited-courses__logo {
  margin-bottom: 1.5rem;
}

.unlimited-courses__logo img {
  width: 14rem;
}

.unlimited-courses__title {
  font-size: 1.75rem;
  font-weight: 700;
  color: white;
  text-align: center;
  width: 60%;
  margin: 0 0 2rem 0;
}

.unlimited-courses__title span {
  color: var(--primary-red);
  margin: 0 0.1rem;
}

.unlimited-courses__brief {
  font-size: 1.0625rem;
  color: white;
  margin: 0.8rem 0 0 0;
}

.unlimited-courses__search-bar-container {
  position: relative;
  -webkit-box-shadow: 0 0 1.625rem #0000001A;
          box-shadow: 0 0 1.625rem #0000001A;
  border-radius: 0.75rem;
  overflow: hidden;
  font-weight: 400;
  padding: 0.4rem 0rem 0.4rem 0rem;
  letter-spacing: 0;
  background-color: white;
  margin-top: 1.5rem;
  width: 27.188rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
}

.unlimited-courses__search-bar-container__search-bar {
  border: 0 !important;
  padding: 0rem 1rem 0rem 0;
  font-family: 'Almarai', sans-serif;
  width: 70%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 1.063rem;
  color: rgba(34, 34, 34, 0.5);
}

.unlimited-courses__search-bar-container__search-bar:active, .unlimited-courses__search-bar-container__search-bar:focus {
  outline: 0 !important;
  -webkit-appearance: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.unlimited-courses__search-bar-container__search-bar::-webkit-input-placeholder {
  color: rgba(51, 51, 51, 0.5);
}

.unlimited-courses__search-bar-container__search-bar:-ms-input-placeholder {
  color: rgba(51, 51, 51, 0.5);
}

.unlimited-courses__search-bar-container__search-bar::-ms-input-placeholder {
  color: rgba(51, 51, 51, 0.5);
}

.unlimited-courses__search-bar-container__search-bar::placeholder {
  color: rgba(51, 51, 51, 0.5);
}

.unlimited-courses__search-bar__btn {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  text-transform: none;
  font-size: 0.97rem;
  font-weight: 700;
  padding: 0.375rem 0.75rem;
  border-radius: 0.625rem;
  font-family: 'Almarai', sans-serif;
  border: 0 !important;
  background-color: var(--primary-red) !important;
  border: 0.125rem solid var(--primary-red) !important;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  width: 7.5rem;
  height: 2.75rem;
  margin-right: 0.2rem;
}

.unlimited-courses__search-bar__btn:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.unlimited-courses__search-bar__btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.unlimited-courses__search-bar__btn:hover, .unlimited-courses__search-bar__btn:active {
  background-color: #9d151e !important;
  border: 0.125rem solid #9d151e !important;
}

.unlimited-courses__search-bar__btn svg {
  margin: 0 0.625rem 0 0;
}

.unlimited-courses__subscription-value {
  width: 17.8125rem;
  height: 3.75rem;
  background-color: var(--pale-red);
  color: var(--primary-red);
  font-size: 1rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 0 1.625rem #0000001A;
          box-shadow: 0 0 1.625rem #0000001A;
  border-radius: 0.625rem;
  margin: 1.25rem 0 0 0;
}

.unlimited-courses__subscription-value span {
  font-weight: 800;
  font-size: 1.875rem;
  margin: 0 0.15rem 0.5rem 0.15rem;
}

.unlimited-courses__video-container img {
  width: 28.125rem;
  height: 18.75rem;
  margin: 0 5.625rem 0 0;
  border-radius: 1.25rem;
}

@media (max-width: 575px) {
  .unlimited-courses__logo {
    margin-bottom: 3.3rem;
  }
  .unlimited-courses__logo img {
    width: 35rem;
  }
  .unlimited-courses__subscribe-btn {
    padding: 0.9375rem 1.875rem;
    border-radius: 1.5625rem;
    width: 40rem;
    font-size: 2.425rem;
    margin-top: 3rem;
  }
  .unlimited-courses__exp-days {
    font-size: 1.5625rem;
    color: white;
    margin-top: 0.75rem;
  }
  .unlimited-courses {
    margin: 8.1rem 0 0 0;
    background-image: url("/images/7 mobile app without text Final.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 65vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .unlimited-courses > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem;
    width: 100%;
    height: 100%;
  }
  .unlimited-courses__title {
    font-size: 4.025rem;
    text-align: center;
    width: 100%;
  }
  .unlimited-courses__title span {
    margin: 0 0.23rem;
  }
  .unlimited-courses__brief {
    font-size: 2.44375rem;
    margin: 1.84rem 0 0 0;
    text-align: center;
  }
  .unlimited-courses__search-bar-container {
    -webkit-box-shadow: 0 0 3.7375rem #0000001A;
            box-shadow: 0 0 3.7375rem #0000001A;
    border-radius: 1.725rem;
    padding: 0.92rem 0rem 0.92rem 0rem;
    margin-top: 3.45rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .unlimited-courses__search-bar-container__search-bar {
    border: 0 !important;
    padding: 0rem 2.3rem 0rem 0;
    width: 67%;
    font-size: 2.126rem;
  }
  .unlimited-courses__search-bar__btn {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    text-transform: none;
    font-size: 0.97rem;
    font-weight: 700;
    padding: 0.375rem 0.75rem;
    border-radius: 0.625rem;
    font-family: 'Almarai', sans-serif;
    border: 0 !important;
    background-color: var(--primary-red) !important;
    border: 0.125rem solid var(--primary-red) !important;
    font-size: 2.3rem;
    width: 17.25rem;
    height: 6.325rem;
    margin-right: 0.46rem;
    border-radius: 1.4375rem;
  }
  .unlimited-courses__search-bar__btn:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .unlimited-courses__search-bar__btn:active {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .unlimited-courses__search-bar__btn:hover, .unlimited-courses__search-bar__btn:active {
    background-color: #9d151e !important;
    border: 0.125rem solid #9d151e !important;
  }
  .unlimited-courses__search-bar__btn svg {
    margin: 0 1.4375rem 0 0;
    width: 1.4375rem;
    height: 2.3rem;
  }
  .unlimited-courses__subscription-value {
    width: 100%;
    height: 8.625rem;
    font-size: 2.3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-shadow: 0 0 3.7375rem #0000001A;
            box-shadow: 0 0 3.7375rem #0000001A;
    border-radius: 1.4375rem;
    margin: 2.875rem 0 0 0;
  }
  .unlimited-courses__subscription-value span {
    font-size: 4.3125rem;
    margin: 0 0.345rem 1.15rem 0.345rem;
  }
  .unlimited-courses__video-container img {
    width: 100%;
    height: 33.75rem;
    margin: 5rem 0 0 0;
    border-radius: 2.875rem;
  }
}
/*# sourceMappingURL=unlimited-courses.module.css.map */