.practical-projects {
  padding-top: 19.063rem;
}

.practical-projects__title {
  color: var(--dark-black);
  font-size: 1.75rem;
}

.practical-projects__title div:nth-of-type(2) {
  font-weight: 800;
  margin-top: -0.3rem;
}

.practical-projects__brief {
  font-size: 1.125rem;
  color: var(--grey);
  margin-top: 1.563rem;
  padding-left: 11rem;
  margin-bottom: 3.188rem;
}

.practical-projects__project-card {
  width: 32.2rem;
  border-radius: 1.25rem;
  overflow: hidden;
  color: var(--grey);
  -webkit-box-shadow: 0 0 2.5rem #1010101A;
          box-shadow: 0 0 2.5rem #1010101A;
  margin: 0rem 0rem 1.938rem 0rem;
}

.practical-projects__project-card__project-img img {
  width: 100%;
  height: 19.75rem;
}

.practical-projects__project-card__trainee-details-box {
  margin: 1.375rem 1.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.practical-projects__project-card__trainee-details-box img {
  width: 3.125rem;
  height: 3.125rem;
}

.practical-projects__project-card__trainee-details-box__details {
  margin-right: 1.063rem;
}

.practical-projects__project-card__trainee-details-box__details__name {
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--dark-black);
}

.practical-projects__project-card__trainee-details-box__details__name span {
  font-size: 0.875rem;
  border-radius: 0.5rem;
  background-color: #F2F2F2;
  padding: 0 0.5rem 0.188rem 0.688rem;
  margin-right: 0.6rem;
}

.practical-projects__project-card__trainee-details-box__details__project {
  font-size: 0.813rem;
  margin-top: -0.2rem;
}

.practical-projects__responsive-projects-slider {
  display: none;
}

@media (max-width: 575px) {
  .practical-projects__project-card-col {
    display: none;
  }
  .practical-projects {
    padding-top: 11.094rem;
    width: 100%;
  }
  .practical-projects__title {
    font-size: 3.5875rem;
  }
  .practical-projects__title div:nth-of-type(2) {
    margin-top: -0.615rem;
  }
  .practical-projects__brief {
    font-size: 2.30625rem;
    margin-top: 3.20415rem;
    padding-left: 0;
    margin-bottom: 0rem;
  }
  .practical-projects__project-card {
    width: 54.74rem;
    border-radius: 2.125rem;
    -webkit-box-shadow: 0 0 2rem #1010101A;
            box-shadow: 0 0 2rem #1010101A;
    margin: 0 1rem;
    height: 45.9rem;
  }
  .practical-projects__project-card__project-img img {
    width: 100%;
    height: 33.575rem;
  }
  .practical-projects__project-card__trainee-details-box {
    margin: 1.375rem 2.7625rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .practical-projects__project-card__trainee-details-box img {
    width: 7.8125rem;
    height: 7.8125rem;
  }
  .practical-projects__project-card__trainee-details-box__details {
    margin-right: 2.6575rem;
  }
  .practical-projects__project-card__trainee-details-box__details__name {
    font-size: 2.5rem;
  }
  .practical-projects__project-card__trainee-details-box__details__name span {
    font-size: 2rem;
    border-radius: 1.25rem;
    padding: 0 0.85rem 0.3196rem 1.1696rem;
    margin-right: 1.02rem;
  }
  .practical-projects__project-card__trainee-details-box__details__project {
    font-size: 2.0325rem;
    margin-top: -0.34rem;
  }
  .practical-projects__responsive-projects-slider {
    display: block;
  }
  .practical-projects__responsive-projects-slider > div {
    margin: 0 0 0 -3rem;
    padding: 2.55rem 3.57rem !important;
  }
}
/*# sourceMappingURL=practical-projects.module.css.map */