.category-description {
  padding: 6.875rem 9rem 0 22.1875rem;
}

.category-description__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
}

.category-description__img {
  width: 6rem;
  height: 6rem;
  background-color: #813A8A;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 0 1.125rem;
}

.category-description__img svg {
  width: 3rem;
  height: 3.125rem;
}

.category-description__info div:nth-of-type(1) {
  width: 4.25rem;
  height: 1.75rem;
  font-size: 0.875rem;
  color: var(--grey);
  border-radius: 0.5rem;
  background-color: #F2F2F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.category-description__info div:nth-of-type(2) {
  font-size: 1.875rem;
  font-weight: 800;
  color: var(--dark-black);
}

.category-description__info div:nth-of-type(2) span {
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--grey);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  z-index: 2;
}

.category-description__info div:nth-of-type(2) span:hover {
  cursor: pointer;
}

.category-description__info div:nth-of-type(2) span:hover:before {
  content: "";
  position: absolute;
  right: 5%;
  bottom: 0;
  width: 90%;
  border-bottom: 0.063rem solid #777777;
  z-index: 1;
}

.category-description__info div:nth-of-type(3) {
  font-size: 1.25rem;
  color: var(--grey);
  margin: -0.2rem 0 0 0;
}

.category-description__info div:nth-of-type(3) span {
  font-weight: 800;
}

.category-description__brief {
  font-size: 1.125rem;
  color: var(--grey);
  margin: 1rem 0 0 0;
}

@media (max-width: 575px) {
  .category-description {
    padding: 15.8125rem 3rem 0 3rem;
  }
  .category-description__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .category-description__img {
    width: 13.8rem;
    height: 13.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0 0 2.5875rem;
  }
  .category-description__img svg {
    width: 6.9rem;
    height: 7.1875rem;
  }
  .category-description__info div:nth-of-type(1) {
    width: 9.775rem;
    height: 4.025rem;
    font-size: 2.0125rem;
    border-radius: 1.15rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .category-description__info div:nth-of-type(2) {
    font-size: 4.3125rem;
  }
  .category-description__info div:nth-of-type(2) span {
    font-size: 2.875rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: block;
  }
  .category-description__info div:nth-of-type(2) span:hover {
    cursor: pointer;
  }
  .category-description__info div:nth-of-type(2) span:hover:before {
    width: 90%;
    border-bottom: 0.1449rem solid #777777;
  }
  .category-description__info div:nth-of-type(3) {
    font-size: 2.875rem;
    margin: -0.46rem 0 0 0;
  }
  .category-description__brief {
    font-size: 2.5875rem;
    margin: 2.3rem 0 0 0;
  }
}
/*# sourceMappingURL=sub-category-description.module.css.map */