@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@400;700;800&display=swap');
// @import './colors-pallete.scss';
@import "../node_modules/bootstrap/scss/bootstrap";
@import "./mixins";
@import '../node_modules/normalize.css/normalize.css';
// @import '../node_modules/swiper/css';
// @import '../node_modules/swiper/css/navigation';
// @import '../node_modules/swiper/css/pagination';

[data-theme='light'] {

  --primary-red: #AF151F;
  --dark-black:#222222;
  --grey:#777777;
  --lightgrey: rgba(0, 0, 0, 0.05);
  --tadarab-bg: #fff;
  --pale-red:#F7E7E8;
  --drop-shadow: 0 0 1.25rem #0000001A;
  --icons-green:#198754;
  --borders-grey:#707070; 
  
}

  
[data-theme='dark'] {

    --primary-red: #AF151F; 
    --dark-black: #f5f5f5;
    --grey: #9E9DA4;
    --lightgrey: rgba(0, 0, 0, 0.05);
    --tadarab-bg: #0E0B1D;
    --pale-red: #F7E7E8; 
    --drop-shadow: 0 0 1.25rem #0000001A;
    --icons-green: #198754;
    --borders-grey: #707070;
    // $dark-background: #0E0B1D;
    // $light-background: #1B1829;

}

html,
body {
  padding: 0;
  margin: 0;

}

html {
  font-size: 100%; 

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  direction: rtl !important;
  font-family: 'Almarai', sans-serif !important;
  letter-spacing: 0 !important;
}


/* video player styles */

.video-js .vjs-menu-button-inline.vjs-slider-active,.video-js .vjs-menu-button-inline:focus,.video-js .vjs-menu-button-inline:hover,.video-js.vjs-no-flex .vjs-menu-button-inline{
  width:10em !important;
}
.video-js .vjs-controls-disabled .vjs-big-play-button{
  display:none!important
}
.video-js .vjs-control{
  width:3em !important;
}
.video-js .vjs-menu-button-inline:before{
  width:1.5em !important;
}
.vjs-menu-button-inline .vjs-menu{
  left:3em !important;
}
.video-js.vjs-ended .tplayer-dialog-el .vjs-big-play-button,.video-js.vjs-paused .tplayer-dialog-el .vjs-big-play-button,.vjs-paused.vjs-has-started.video-js .tplayer-dialog-el .vjs-big-play-button{
  display:block !important;
}
.video-js .vjs-load-progress div,.vjs-seeking .vjs-big-play-button,.vjs-waiting .vjs-big-play-button{
  display:none!important;
}
.video-js .vjs-mouse-display:after,.video-js .vjs-play-progress:after{
  padding:0 .4em .3em !important;
}
.video-js.vjs-ended .vjs-loading-spinner{
  display:none !important;
}
.video-js.vjs-ended .vjs-big-play-button{
  display:block !important;
}
.video-js *,.video-js:after,.video-js:before{
  box-sizing:inherit !important;
  font-size:inherit !important;
  color:inherit !important;
  line-height:inherit !important;
}
.video-js.vjs-fullscreen,.video-js.vjs-fullscreen .vjs-tech{
  width:100% !important;
  height:100% !important
}
.video-js{
  font-size:14px !important;
  overflow:hidden !important;
}
.video-js .vjs-control{
  color:inherit !important;
}
.video-js .vjs-menu-button-inline:hover,.video-js.vjs-no-flex .vjs-menu-button-inline{
  width:8.35em !important;
}
.video-js .vjs-volume-menu-button.vjs-volume-menu-button-horizontal:hover .vjs-menu .vjs-menu-content{
  height:3em !important;
  width:6.35em !important;
}
.video-js .vjs-control:focus:before,.video-js .vjs-control:hover:before{
  text-shadow:0 0 1em #bf1e1e,0 0 1em #bf1e1e,0 0 1em #bf1e1e !important; 
}
.video-js .vjs-spacer,.video-js .vjs-time-control{
  display:-webkit-box ;
  display:-moz-box ;
  display:-ms-flexbox ;
  display: flex !important;
  display:flex !important;
  -webkit-box-flex:1 1 auto !important;
  -moz-box-flex:1 1 auto !important;
  -webkit-flex:1 1 auto !important;
  -ms-flex:1 1 auto !important;
  flex:1 1 auto !important;
}
.video-js .vjs-time-control{
  -webkit-box-flex:0 1 auto !important;
  -moz-box-flex:0 1 auto !important;
  -webkit-flex:0 1 auto !important;
  -ms-flex:0 1 auto !important;
  flex:0 1 auto !important;
  width:auto !important;
}
.video-js .vjs-time-control.vjs-time-divider{
  width:14px !important;
}
.video-js .vjs-time-control.vjs-time-divider div{
  width:100% !important;
  text-align:center !important;
}
.video-js .vjs-time-control.vjs-current-time{
  margin-left:1em !important;
}
.video-js .vjs-time-control .vjs-current-time-display,.video-js .vjs-time-control .vjs-duration-display{
  width:100% !important;
  display: inline-flex !important;
  align-items: center !important;
}
.video-js .vjs-time-control .vjs-current-time-display{
  text-align: right !important;
}
.video-js .vjs-time-control .vjs-duration-display{
  text-align: left !important;
}
.video-js.vjs-live .vjs-time-control.vjs-current-time,.video-js.vjs-live .vjs-time-control.vjs-duration,.video-js.vjs-live .vjs-time-control.vjs-time-divider,.video-js.vjs-no-flex .vjs-time-control.vjs-remaining-time,.video-js .vjs-play-progress:before,.video-js .vjs-progress-control .vjs-play-progress:before,.video-js .vjs-remaining-time,.video-js .vjs-volume-level:after,.video-js .vjs-volume-level:before{
  display:none !important;
}
.video-js.vjs-no-flex .vjs-time-control{
  display:table-cell !important;
  width:4em !important;
  display: inline-flex !important;
  align-items: center !important;
}
.video-js .vjs-progress-control{
  position:absolute !important;
  left:0 !important;
  right:0 !important;
  width:100% !important;
  height:.5em !important;
  top:-.5em !important;
}
.video-js .vjs-progress-control .vjs-load-progress,.video-js .vjs-progress-control .vjs-play-progress,.video-js .vjs-progress-control .vjs-progress-holder{
  height:100% !important;
}
.video-js .vjs-progress-control .vjs-progress-holder{
  margin:0 !important;
}
.video-js .vjs-progress-control:hover{
  height:1.5em !important;
  top:-1.5em !important;
}
.video-js .vjs-control-bar{
  -webkit-transition: -webkit-transform .1s ease 0s !important;
  -moz-transition: -moz-transform .1s ease 0s !important;
  -ms-transition: -ms-transform .1s ease 0s !important;
  -o-transition: -o-transform .1s ease 0s !important;
  transition:transform .1s ease 0s !important;
}
.video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-active .vjs-control-bar,.video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-inactive .vjs-control-bar,.video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-active .vjs-control-bar,.video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-control-bar,.video-js.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-control-bar{
  visibility:visible !important;
  opacity:1 !important;
  -webkit-backface-visibility:hidden !important;
  -webkit-transform:translateY(3em) !important;
  -moz-transform:translateY(3em) !important;
  -ms-transform:translateY(3em) !important;
  -o-transform:translateY(3em) !important;
  transform:translateY(3em) !important;
  -webkit-transition: -webkit-transform 1s ease 0s !important;
  -moz-transition: -moz-transform 1s ease 0s !important;
  -ms-transition: -ms-transform 1s ease 0s !important;
  -o-transition: -o-transform 1s ease 0s !important;
  transition:transform 1s ease 0s !important;
}
.video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-active .vjs-progress-control,.video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-inactive .vjs-progress-control,.video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-active .vjs-progress-control,.video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-progress-control,.video-js.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-progress-control{
  height:.25em !important;
  top:-.25em !important;
  pointer-events:none !important;
  -webkit-transition:height 1s,top 1s !important;
  -moz-transition:height 1s,top 1s !important;
  -ms-transition:height 1s,top 1s !important;
  -o-transition:height 1s,top 1s !important;
  transition:height 1s,top 1s !important;
}
.video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-active.vjs-fullscreen .vjs-progress-control,.video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-inactive.vjs-fullscreen .vjs-progress-control,.video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-active.vjs-fullscreen .vjs-progress-control,.video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-inactive.vjs-fullscreen .vjs-progress-control,.video-js.vjs-has-started.vjs-playing.vjs-user-inactive.vjs-fullscreen .vjs-progress-control{
  opacity:0 !important;
  -webkit-transition:opacity 1s ease 1s !important;
  -moz-transition:opacity 1s ease 1s !important;
  -ms-transition:opacity 1s ease 1s !important;
  -o-transition:opacity 1s ease 1s !important;
  transition:opacity 1s ease 1s !important;
}
.video-js.vjs-live .vjs-live-control{
  margin-left:1em !important;
}
.video-js .vjs-big-play-button{
  top:50% !important;
  left:50% !important;
  margin-left:-1em !important;
  margin-top:-1em !important;
  width:2em !important;
  height:2em !important;
  line-height:2em !important;
  border:none !important;
  color:#fff !important;
  background-color:rgba(163, 85, 85, 0.45) !important;
  font-size:1.8em !important;
  border-radius:50% !important;
  -webkit-transition:border-color .4s,outline .4s,background-color .4s !important;
  -moz-transition:border-color .4s,outline .4s,background-color .4s !important;
  -ms-transition:border-color .4s,outline .4s,background-color .4s !important;
  -o-transition:border-color .4s,outline .4s,background-color .4s !important;
  transition:border-color .4s,outline .4s,background-color .4s !important;
}
.video-js .vjs-menu-button-popup .vjs-menu{
  left:-3em !important;
}
.video-js .vjs-menu-button-popup .vjs-menu .vjs-menu-content{
  background-color:transparent !important;
  width:12em !important;
  left:-1.5em !important;
  padding-bottom:.5em !important;
}
.video-js .vjs-menu-button-popup .vjs-menu .vjs-menu-item,.video-js .vjs-menu-button-popup .vjs-menu .vjs-menu-title{
  background-color:#151b1785 !important;
  margin:.3em 0 !important;
  padding:.5em !important;
  border-radius:.3em !important;
}
.video-js .vjs-menu-button-popup .vjs-menu .vjs-menu-item.vjs-selected{
  background-color:#af151f;color:#FFF !important;
}
.video-js .vjs-big-play-button:active,.video-js .vjs-big-play-button:focus,.video-js:hover .vjs-big-play-button{
  background-color:rgba(191,30,46,.9) !important;
}
.video-js .vjs-loading-spinner{
  border-color:rgba(190,22,34,.8) !important;
}
.video-js .vjs-control-bar2{
  background-color:#000 !important;
}
.video-js .vjs-control-bar{
  background-color:rgba(0,0,0,.3)!important;
  color:#fff !important;
  font-size:13px !important;
}
.video-js .vjs-play-progress,.video-js .vjs-volume-level{
  background-color:#af151f !important
}
.video-js .vjs-control:focus,.video-js .vjs-control:focus:before,.video-js .vjs-control:hover:before{
  outline:none !important;
  box-shadow:none !important;
  border:none !important
}
@media(max-width:1280px){.video-js .vjs-control-bar{font-size:12px !important}}


/*  */
/*  */
/*  */
.tadarab-player{width:100% !important;max-width:100% !important;display:flex !important;}
/*.tadarab-player .video-js.vjs-fluid{height:450px !important;}*/
@keyframes fade-in-up {
  0% { opacity:0 !important;}
  100% { transform:translateX(0) !important;opacity:1 !important;}
}

.tadarab-player > .tplayer > .player-asset {
	position:absolute !important;
	top:0 !important;left:0 !important;right:0 !important;bottom:0 !important;
	overflow-y:scroll !important;
}

.tplayer.stuck{
	position:fixed !important;
	top:0px !important;
	left:0 !important;width:100% !important;z-index:9 !important;
}

.vjs-button > .vjs-icon-placeholder:before,.vjs-control.vjs-button:before{font-size:1.8em !important;}
.video-js .vjs-fullscreen-control,.video-js .vjs-picture-in-picture-control,.video-js .vjs-playback-rate,.video-js .vjs-quality-selector{position:absolute !important;}
.video-js .vjs-fullscreen-control{right:0 !important}
.video-js .vjs-picture-in-picture-control{right:50px !important}
.video-js .vjs-playback-rate{right:50px !important;}
.video-js .vjs-quality-selector{right:200px !important}
.video-js .vjs-quality-selector span.vjs-icon-placeholder{right:200px !important}
.video-js .vjs-playback-rate-value{right:50px !important; display: flex !important; justify-content:center !important;} 
.video-js .vjs-time-divider{display: flex !important; align-items:center !important;}
.vjs-quality-selector .vjs-icon-placeholder:before {content: '\f114' !important;}
.vjs-quality-selector.vjs-hover .vjs-menu-button span.vjs-icon-placeholder:before,.vjs-quality-selector .vjs-menu-button[aria-expanded=true] span.vjs-icon-placeholder:before,.vjs-playback-rate.vjs-hover .vjs-menu-button,.vjs-playback-rate .vjs-menu-button[aria-expanded=true]{
	/*-webkit-transform: rotateZ(30deg);transform: rotateZ(30deg);*/
	border-bottom:2px solid #bf1e2e !important;
  display: flex !important;
  align-items:center !important;
}

.video-js .vjs-modal-dialog{background:rgba(0,0,0,0.25) !important;font-family:tadarab-ar-rg,serif!important}
.tplayer-dialog .modal-header, .tplayer-dialog .modal-body, .tplayer-dialog .modal-footer{text-align:center !important;padding:12px 0px !important;display:block !important;border:none !important;}
.tplayer-dialog .modal-body{color:#CCC !important;font-weight:normal !important;}
.tplayer-dialog .modal-header{font-size:21px !important;}
.tplayer-dialog .modal-header h1{display:inline-block !important;border-bottom:1px solid #828282 !important;padding:5px !important;font-size:28px !important;}
.tplayer-dialog .modal-header p{padding:0px !important;font-size:15px !important;margin:0px !important;}
.tplayer-dialog .vjs-modal-dialog-content{display:table !important;}
.vjs-modal-dialog .tplayer-dialog-el{display:table-cell !important;vertical-align:middle !important;}
.list-content{direction:rtl !important;}
.lessons-list a.active,.lessons-list a.active svg.icon-playlist,.lessons-list a:hover,.lessons-list a:hover svg.icon-playlist,
.lessons-list a.active,.lessons-list a.active i.icon-playlist,.lessons-list a:hover,.lessons-list a:hover i.icon-playlist{color:#000;fill:#000;}
.lessons-list svg.icon-playlist,i.icon-playlist{font-size:21px !important;fill:#888 !important;color:#888 !important;vertical-align:middle !important;padding:5px 5px 5px 15px !important;}
.lessons-list a .tmark{padding:0px 10px !important;}
.lessons-list a .tmark i,.lessons-list a .tmark svg{width:12px !important;height:12px !important;}
.section-heading{display:flex !important;}
.tsvgicon.unlock{fill:green !important}
a.lesson.free-lesson{background:#f7f8fa !important;}
a.lesson.free .tmark{margin-left:36px !important;}
a.lesson.free .tmark span.text{font-size:10px;padding:0px 10px}

a.lesson.free-lesson.active,a.lesson.free-lesson:hover{background:#f7faff !important;}
.total_lesson.tmark{font-family:monospace;padding-left:10px !important;}
.lessons-list a[aria-expanded=true] .tsvgicon.toggle{transform:rotate(180deg) !important;}
.lessons-list a[data-toggle=collapse]{border-top:1px solid #CCC !important;background-color:#fafbf6 !important}
.lessons-list .list-title{font-size:12px !important;}

.lessons-list svg.icon-playlist{width:30px !important;height:30px !important;}
.tplayer-dialog.tplayer-overlay{cursor:pointer !important;}

/*.tplayer-overlay-btn{color:#ababab;font-size:50px;cursor:pointer;line-height:1;}*/
button.vjs-big-play-button.tplayer-overlay-btn{margin-top:0px !important;}
.tplayer-overlay-btn{font-size:21px !important;border:2px solid #FFF !important;}
.tplayer-overlay-btn span.vjs-icon-placeholder::before{font-size:24px !important;line-height:1.6 !important;}
.tplayer-dialog.tplayer-overlay:hover .tplayer-overlay-btn{color:#FFF !important}
.tplayer-dialog .vjs-close-button.vjs-control{display:none !important;opacity:0 !important;}
.tplayer-dialog.is_close_show .vjs-close-button.vjs-control{display:block !important;opacity:1 !important;}
.tadarab-player .tplayer,.tadarab-player .tlist{display:inline-block !important;background:#FFF !important;}

.tadarab-player .tlist{width:40% !important;}
.tplayer-dialog p{padding:0px !important;margin:0px !important;}
.video-btn-text{font-size:14px !important;margin:0px !important;padding:0px !important;color:#ffffff !important;text-align:center !important;}
.video-js .vjs-dock-title{color:red !important;font-size:1.5em !important;}
.video-js .vjs-dock-description{color:yellow !important;font-size:1.0em !important;}

.tplay-timeload{position:absolute !important;width:100% !important;height:100% !important;top:0 !important;left:0 !important}
#halfclip{width:50% !important;height:100% !important;right:0px !important;position:absolute !important;overflow:hidden !important;transform-origin: left center !important;}
.tplay-timeload.activering #halfclip{animation:cliprotate 5s 1;transform:rotate(180deg);} 
.halfcircle{box-sizing:border-box !important;height:100% !important;right:0px !important;position:absolute !important;border:solid 4px transparent !important;border-top-color:#af151f !important;border-left-color:#af151f !important;border-radius:50% !important;}
#clipped{width:200% !important; transform:rotate(-45deg) !important; }
.tplay-timeload.activering #clipped {transform:rotate(135deg) !important; animation:rotate 2.5s linear 2 !important; }

#fixed {width:100% !important; transform:rotate(135deg) !important; opacity:0 !important; }
.tplay-timeload.activering #fixed {opacity:1 !important; animation:showfixed 5s 1 !important; }

@keyframes cliprotate{ 0% {transform:rotate(0deg) !important;} 50% {transform:rotate(0deg) !important;} 50.01% {transform:rotate(180deg) !important;} 100% {transform:rotate(180deg) !important;}}
@keyframes rotate {0% {transform:rotate(-45deg) !important;} 100% {transform:rotate(135deg) !important;} }
@keyframes showfixed {0% {opacity:0 !important;} 49.99% {opacity:0 !important;} 50% {opacity:1 !important;} 100% {opacity:1 !important;} }
video::-webkit-media-controls-panel,video::-webkit-media-controls-panel-container,video::-webkit-media-controls-start-playback-button{display:none !important;-webkit-appearance:none !important;}
@media(max-width:768px){.tadarab-player{display:inline !important;}.tadarab-player .tplayer,.tadarab-player .tlist{width:100% !important;}.vjs-modal-dialog .vjs-modal-dialog-content{padding:10px 24px !important}.tplayer-dialog .modal-header h1{font-size:20px !important;}.tplayer-dialog .modal-header p{font-size:14px !important;}a.lesson.free .tmark{margin-left:0 !important;}}
@media(max-width:480px){.video-js .vjs-control-bar{font-size:12px !important;}.video-js .vjs-big-play-button{font-size:1rem !important}}


/*  */

.row {
  --bs-gutter-x: 0 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance:textfield; 
}

button,
input,
.form-select {

  &:active,
  &:focus {
    outline: 0 !important;
    -webkit-appearance: none;
    box-shadow: none !important;
  }
}


.popover{
  border: 0.063rem solid rgba(0, 0, 0, 0.1) !important;
  border-radius: 1.25rem !important;
  box-shadow: 0 0 1.875rem #00000033 !important;
  max-width: 23.438rem !important;
  height: 28.75rem !important;
}


.swiper-pagination-bullet-active{
  background-color: var(--primary-red) !important;
}
.swiper-pagination{
  display:none !important;
}


.swiper-button-next , .swiper-button-prev {
  width: auto !important;
  height: auto !important;
  z-index: 10;
  color: #777777 !important;
  margin-top: 0 !important;
  &:after{

    font-family: swiper-icons !important;
    border-radius: 50% !important;
    font-size: 1rem !important;
    font-weight: 1000 !important;
    text-transform: none!important;
    letter-spacing: 0;
    text-transform: none;
    background-color: white !important;
    box-shadow: 0 0 1.25rem #00000033 !important;
    display: inline-block !important;
    vertical-align: middle !important;
    text-align: center !important;
    line-height: 0 !important;
  }
}

 .swiper-button-next{
  left: 1rem !important;
  &:after{
    padding: 1.5rem 1.28rem 1.5rem 1.18rem !important;
  }
}

 .swiper-button-prev {
  right: 1rem !important;
  &:after{
    padding: 1.5rem 1.18rem 1.5rem 1.28rem !important;
  }
}

.swiper-slide {
  @include flex(unset,center);
}

.swiper-button-disabled{
  opacity: 0 !important;
}

.loader {
  color: #af151f;
  font-size: 0.75rem;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: absolute;
  top: 30%;
  left: 50%;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

.loader-text{
  font-size:1.5rem;
  font-weight:700;
  
}

.loading-indicator:before {
  content: '';
  background: #d3d3d3;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.loading-indicator:after {
  content: 'جاري التحميل...';
  position: fixed;
  width: 100%;
  top: 50%;
  left: 0;
  z-index: 1001;
  color:black;
  text-align:center;
  font-weight:bold;
  font-size:1.5rem;        
}

.accordion-button:not(.collapsed){
  &::after{
    // margin: 0 auto 0 0 !important;
    background-image: url('/images/minus-solid.svg') !important;
    background-size: 1.15rem 1.15rem  !important;
    // transform:none !important;
    transform: rotate(-90deg) !important;
    // margin-bottom: 0.3rem !important;

  }

}
.accordion-button{
  &::after{
  //   margin: 0 auto 0 0 !important;
    background-image: url('/images/plus-solid.svg') !important;
    background-size: 1.15rem 1.15rem  !important;
  }
}

.accordion-button{
  background-color: #f5f5f5 !important;
  box-shadow: none !important;
}
.tippy-box{
  max-width: fit-content !important;
  // width: 23.438rem !important;
  // padding:0;
  width: 23.438rem !important;
    padding: 1rem !important;
    // position: absolute;
    // bottom: -3.5rem;
    // right: 20rem; 
    // top: 1rem;
    background-color: white !important;
    z-index: 99999 !important;
    // display: none;
    box-shadow: 0 0 1.875rem #00000033 !important;
    border-radius: 0.75rem !important;
    height: 28rem !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-around !important;
}
[data-tippy-root]{
  max-width: 0 !important;
  width: 0 !important;
  z-index: 99999 !important;
  // position: fixed !important;
  // transform: translate(0, 0) !important;
  // transform: translateY(0) !important;
  transform: translate3d(0, 0, 0) !important;
}

div[id^='popover-latest-courses-card'] {
   display: flex !important;
   flex-direction: column !important;
   justify-content: center !important;
   // width: 400px !important;
   // z-index: 2;
   position: absolute !important;
     // inset: auto auto 0px 0px !important;
     // transform: translate(624px, 953px) !important;
     margin: 0 !important;
     z-index: 5 !important;
     width: 21.75rem !important; 
     max-height: 28rem !important;
     height: fit-content !important;
}

.tippy-content{
  padding: 0 0.5625rem !important;
  height: 100% !important;
  // display: flex !important;
  // flex-direction: column !important;
  // justify-content: center !important;
  &>div{
   height: 100% !important;
  }
}

.tippy-arrow{
color:white !important;
width: 1rem !important;
height: 1rem !important;
}

.navbar-toggler{
  border:0 !important;
  outline:none !important;
  box-shadow:none !important;
}
.navbar-toggler-icon{
  background-image: url('/images/menu.svg') !important;
  width: 2.8rem !important;
  height: 2.8rem !important;
}

.offcanvas-end{
  width: 82% !important;
  border: 0 !important;
  padding: 0 4.5rem 0 4.5rem !important;
  z-index:21 !important;
}
.offcanvas-header {
  padding:0!important;
  height: 10rem !important;
}
.offcanvas-title {
  font-size: 2.188rem !important;
  color:var(--grey) !important;
  font-weight:700 !important;
  padding: 4.375rem 0 3.5rem 0 !important;
}


.offcanvas-backdrop{
  z-index:20 !important;
}

#offcanvasNavbar1{
  .btn-close {
    background-image: url(/images/close.svg) !important;
    border-radius: 1.5rem !important;
    background-size: 2.5rem 2.5rem;
    padding: 4rem 1.9rem 1.9rem 3.8rem !important;
    background-color: white !important;
    margin-left: -13rem !important;
    margin-top: -1rem !important;
    opacity: 1 !important;
  }
    &:hover{
    opacity:1 !important;
    }
  
  //   &+ .offcanvas-backdrop{
  //   opacity:0 !important;
  //  }
}

#offcanvasNavbar2{
  overflow: auto !important;
  padding: 0 !important;
  

  .offcanvas-header{
    // padding:1.5rem 0 1.5rem 0 !important;
      margin: 0 4.5rem 0 4.5rem !important;
      border-bottom: 0.05rem solid rgba(34, 34, 34, 0.05);
      height: 10rem !important;
    &>div{
      padding: 4.375rem 0 4rem 0 !important;
      font-size: 2.188rem !important;
      // margin: 0 1.4rem 0 1.4rem !important;
      // border-bottom: 0.05rem solid rgba(34, 34, 34, 0.05);
    }
    position: sticky !important;
    top: 0 !important;
    background-color: white !important;
    z-index: 50 !important;
  }

}


#offcanvasNavbar3{
padding: 0 !important;
  .btn-close {
    background-image: url(/images/close.svg) !important;
    border-radius: 1.5rem !important;
    background-size: 2.5rem 2.5rem;
    padding: 4rem 1.9rem 1.9rem 3.8rem !important;
    background-color: white !important;
    margin-left: -8.7rem !important;
    margin-top: -1rem !important;
    opacity: 1 !important;
  }
    &:hover{
    opacity:1 !important;
    }

    .offcanvas-header{
      margin: 0 0 2rem 0 !important;
    }
    .offcanvas-body{
    padding: 0 4.5rem 0 4.5rem !important;
    }
}

.container-xxl{
  padding:0 !important;
  max-width: 1961px !important;
}
input:-internal-autofill-selected{
  background-color:transparent !important;
}
// to disable auto complete background color (pale blue)
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    box-shadow: 0 0 0 30px white inset !important;
}

.vjs-control-bar,
.vjs-slider-horizontal{
  direction: ltr !important;
}

.card{
  border:none !important;
}

.vjs-icon-placeholder{
  &::before{
    font-family: VideoJS !important;
  }
}

.vjs-control-bar{
  *{
    font-family: VideoJS !important;
    &::before{
      font-family: VideoJS !important;
    }
  }
}

.vjs-big-play-button{
  background-color: transparent !important;
  border:none !important;
  margin-top: -1.5em !important;
  margin-left: -1.5em !important;
  width:3em !important;
  height:3em !important;

  .vjs-icon-placeholder{
    &::before{
      content:"" !important;
      background-image: url('/images/play.svg') !important;
      background-size: 100% 100% !important;
    background-repeat: no-repeat !important;
    }
}
// .vjs-big-play-button{
//   margin-top: -1.5em !important;
//     margin-left: -1.5em !important;
//     width:1.5em !important;
//     height:1.5em !important;
// }
}
.intl-tel-input.allow-dropdown .arrow {
  display: none !important;
  }
  .intl-tel-input.allow-dropdown .selected-flag:after {
  content: "▼";
  font-size: 0.6rem;
  margin-left: 0.3125rem;
  color:rgba(119, 119, 119, 0.5) !important;
  }
  .intl-tel-input.allow-dropdown.expanded .selected-flag:after {
  content: '▲';
  }


  .card-number-frame,
  .expiry-date-frame,
  .cvv-frame{
    height:3rem;
   // border: 0.0625rem solid #2222221A;
   //     border-radius: 0.75rem;
   //     font-size: 1.0625rem;
   //     color: var(--dark-black);
       margin: 1rem 0 ;
  }

  .pagination{
    padding: 0 !important;
    li{
      &.active{
        span{
          background-color: var(--primary-red) !important;
          border-color: var(--primary-red) !important;
          padding: 0.375rem 0.75rem;
          font-size: 1rem !important;
        }
      }
      a{
     
        color: var(--primary-red);

        &:focus,&:hover{
          color: var(--primary-red) !important;
          box-shadow: none !important;
        }
        &:focus{
          background-color: white !important;
        }
      }
    }
    li:first-child,
    li:last-child{
      direction: ltr !important;
      span:first-child{
        display: none;
      }
      a{
        border-radius:0 !important;
        
      }
    }
    li:first-child{
      a {
        border-top-right-radius: 0.25rem !important;
        border-bottom-right-radius: 0.25rem !important;
        &:after {
          content: '➜';
        }
   
      }
    }

    li:last-child{
      a {
        border-top-left-radius: 0.25rem !important;
        border-bottom-left-radius: 0.25rem !important;
        &:after {
          content: '➜';
          display: inline-block;
          transform: scaleX(-1);
        }
       
      }
    }

  
  }


@media(min-width: 1400px){
  .container-xxl{
    max-width: 1961px !important; 
  }
}

@media (min-width:1961px) {
  html {
    font-size: 141%;
  }
}
@media (max-width:1960px) {
  html {
    font-size: 141%;
  }
}
@media (max-width:1900px) {
  html {
    font-size: 137%;
  }
}
@media (max-width:1850px) {
  html {
    font-size: 133%;
  }
}
@media (max-width:1800px) {
  html {
    font-size: 129%;
  }
}
@media (max-width:1750px) {
  html {
    font-size: 125%;
  }
}
@media (max-width:1700px) {
  html {
    font-size: 121%;
  }
}
@media (max-width:1650px) {
  html {
    font-size: 117%;
  }
}
@media (max-width:1600px) {
  html {
    font-size: 113%;
  }
}
@media (max-width:1550px) {
  html {
    font-size: 109%;
  }
}
@media (max-width:1500px) {
  html {
    font-size: 106%;
  }
}
@media (max-width:1450px) {
  html {
    font-size: 103%;
  }
}
@media (max-width:1400px) {
  html {
    font-size: 100%;
  }
}
@media (max-width:1350px) {
  html {
    font-size: 96%;
  }
}
@media (max-width:1300px) { 
  html {
    font-size: 92%; 
  }
}
@media (max-width:1250px) {
  html {
    font-size: 88%; 
  }
}
@media (max-width:1200px) {
  html {
    font-size: 84%; 
  }
 
  .swiper-button-next , .swiper-button-prev {
    margin-top: 0 !important;
    &:after{
      font-size: 1rem*1.3 !important;
      font-weight: 1000 !important;
      box-shadow: 0 0 1.25rem*1.3 #00000033 !important;
    }
  }
  
   .swiper-button-next{
    left: 1rem*1.3 !important;
    &:after{
      padding: 1.5rem*1.3 1.28rem*1.3 1.5rem*1.3 1.18rem*1.3 !important;
    }
  }
  
   .swiper-button-prev {
    right: 1rem*1.3 !important;
    &:after{
      padding: 1.5rem*1.3 1.18rem*1.3 1.5rem*1.3 1.28rem*1.3 !important;
    }
  }
}
@media (max-width:1150px) {
  html {
    font-size: 80%; 
  }
}
@media (max-width:1100px) {
  html {
    font-size: 77%; 
  }
}
@media (max-width:1050px) {
  html {
    font-size: 74%; 
  }
}
@media (max-width:1190px) {
  div[id^="tippy"]{
    display:none !important;
  }
}
@media (max-width:1000px) {
  html {
    font-size: 70%; 
  }
}
@media (max-width:980px) {
  .swiper-button-next , .swiper-button-prev {
    margin-top: 0 !important;
    &:after{
      font-size: 1rem*1.75 !important;
      font-weight: 1000 !important;
      box-shadow: 0 0 1.25rem*1.75 #00000033 !important;
    }
  }
  
   .swiper-button-next{
    left: 1rem*1.75 !important;
    &:after{
      padding: 1.5rem*1.75 1.28rem*1.75 1.5rem*1.75 1.18rem*1.75 !important;
    }
  }
  
   .swiper-button-prev {
    right: 1rem*1.75 !important;
    &:after{
      padding: 1.5rem*1.75 1.18rem*1.75 1.5rem*1.75 1.28rem*1.75 !important;
    }
  }
}
@media (max-width:950px) {
  html {
    font-size: 66%; 
  }
}
@media (max-width:900px) {
  html {
    font-size: 62%; 
  }
}
@media (max-width:850px) {
  html {
    font-size: 58%; 
  }
}
@media (max-width:800px) {
  html {
    font-size: 54%; 
  }
}
@media (max-width:750px) {
  html {
    font-size: 50%; 
  }
}

@media (max-width:700px) {
  html {
    font-size: 46%; 
  }
  
}
@media (max-width:650px) {
  html {
    font-size: 42%; 
  }
}
@media (max-width:600px) {
  html {
    font-size: 38%; 
  }
}
@media (max-width:575px) {
  html {
    font-size: 60%;
  }
  .loader-text{
    font-size:1.5rem*1.5;
  }
  .loader {
    font-size: 0.75rem*1.5;
    width: 1em*1.5;
    height: 1em*1.5;
  }

  .swiper-button-next , .swiper-button-prev {
    display:none !important ;
  }
  .accordion-button{
    padding: 1rem*2.5 1.25rem*2.5;
    &::after{
      background-size: 1.15rem*2.5 1.15rem*2.5  !important;
      height: 1.15rem*2.5 !important;
      width: 1.15rem*2.5 !important;
    }
  }

  .accordion-button:not(.collapsed){
    &::after{
      background-size: 1.15rem*2.5 1.15rem*2.5  !important;
      width:1.15*2.5 !important;
      height:1.15*2.5 !important;
      transform: rotate(-90deg) !important;
  
    }
  
  }
  .card-number-frame,
  .expiry-date-frame,
  .cvv-frame{
      height:3rem*2.3;
      // border: 0.0625rem*2.3 solid #2222221A;
      // border-radius: 0.75rem*2.3;
      // *{

      //   font-size: 1.0625rem*2.3;
      // }
      // color: var(--dark-black);
      margin: 1rem*2.3 0 ;
  }

  .pagination{
    padding: 0 !important;
    a{
      padding: 0.375rem*2.5 0.75rem*2.5; 
    }
    *{
      font-size:2.5rem !important;
    }
    li.active{
      span{
        padding: 0.375rem*2.5 0.75rem*2.5;
        font-size:2.5rem !important;
      }
    }
    li:first-child,
    li:last-child{
      span:first-child{
      }
      a{
        border-radius:0 !important;
        
      }
    }
    li:first-child{
      a {
        border-top-right-radius: 0.25rem !important;
        border-bottom-right-radius: 0.25rem !important;
        &:after {
        }
   
      }
    }

    li:last-child{
      a {
        border-top-left-radius: 0.25rem !important;
        border-bottom-left-radius: 0.25rem !important;
        &:after {
        }
       
      }
    }

  
  }
}

.navbar-nav{
  align-items:center !important;
}

@media (max-width:565px) {
  html {
    font-size: 59%;
  }
}
@media (max-width:555px) {
  html {
    font-size: 58%;
  }
}
@media (max-width:545px) {
  html {
    font-size: 57%;
  }
}
@media (max-width:535px) {
  html {
    font-size: 56%;
  }
}
@media (max-width:525px) {
  html {
    font-size: 55%;
  }
}
@media (max-width:515px) {
  html {
    font-size: 54%;
  }
}
@media (max-width:505px) {
  html {
    font-size: 53%;
  }
}
@media (max-width:495px) {
  html {
    font-size: 52%;
  }
}
@media (max-width:485px) {
  html {
    font-size: 51%;
  }
}
@media (max-width:475px) {
  html {
    font-size: 50%;
  }
}
@media (max-width:465px) {
  html {
    font-size: 49%;
  }
}
@media (max-width:455px) {
  html {
    font-size: 48%;
  }
}
@media (max-width:445px) {
  html {
    font-size: 47%;
  }
}
@media (max-width:435px) {
  html {
    font-size: 46%;
  }
}
@media (max-width:425px) {
  html {
    font-size: 45%;
  }
}
@media (max-width:415px) {
  html {
    font-size: 44%;
  }
}
@media (max-width:405px) {
  html {
    font-size: 43%;
  }
}
@media (max-width:395px) {
  html {
    font-size: 42%;
  }
}
@media (max-width:385px) {
  html {
    font-size: 40%;
  }
}
@media (max-width:375px) {
  html {
    font-size: 39%;
  }
}
@media (max-width:365px) {
  html {
    font-size: 38%;
  }
}
@media (max-width:355px) {
  html {
    font-size: 36%;
  }
}
@media (max-width:345px) {
  html {
    font-size: 35%;
  }
}
@media (max-width:335px) {
  html {
    font-size: 34%;
  }
}
@media (max-width:325px) {
  html {
    font-size: 33%;
  }
}
@media (max-width:315px) {
  html {
    font-size: 32%;
  }
}
@media (max-width:305px) {
  html {
    font-size: 31%;
  }
}
@media (max-width:295px) {
  html {
    font-size: 30%;
  }
}
@media (max-width:285px) {
  html {
    font-size: 29%;
  }
}
@media (max-width:275px) {
  html {
    font-size: 28%;
  }
}
@media (max-width:265px) {
  html {
    font-size: 27%;
  }
}
@media (max-width:255px) {
  html {
    font-size: 25%;
  }
}
@media (max-width:245px) {
  html {
    font-size: 24%;
  }
}
@media (max-width:235px) {
  html {
    font-size: 23%;
  }
}
@media (max-width:225px) {
  html {
    font-size: 22%;
  }
}
@media (max-width:215px) {
  html {
    font-size: 21%;
  }
}
@media (max-width:205px) {
  html {
    font-size: 20%;
  }
}

// .swiper-button-next , .swiper-button-prev {
  //   margin-top: 0 !important;
  //   &:after{
  //     font-size: 1rem*2.55 !important;
  //     font-weight: 1000 !important;
  //     box-shadow: 0 0 1.25rem*2.55 #00000033 !important;
  //   }
  // }
  
  //  .swiper-button-next{
  //   left: 1rem*2.55 !important;
  //   &:after{
  //     padding: 1.5rem*2.55 1.28rem*2.55 1.5rem*2.55 1.18rem*2.55 !important;
  //   }
  // }
  
  //  .swiper-button-prev {
  //   right: 1rem*2.55 !important;
  //   &:after{
  //     padding: 1.5rem*2.55 1.18rem*2.55 1.5rem*2.55 1.28rem*2.55 !important;
  //   }
  // }o