@import "../../../styles/mixins";

.course-details-section {
    margin-top: 3.2rem;
    width: 43rem;
    height: 16rem;
    // padding: 1.875rem;
    padding-bottom: 2.5rem;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease;
}

.course-details-section__title {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--dark-black);
    margin-bottom: 1rem;
}

.course-details-section__para {
    // font-size: 1rem;
    color: var(--grey);

}

.course-details-section__read-more {
    font-size: 1.125rem;
    font-weight: 800;
    width: 100%;
    background-color: white;
    color: #AF151F;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.8rem 0rem 1rem 0;
    // margin-top: 0.8rem;
    cursor: pointer;
    z-index: 4;
    @include flex;

    span {
        margin-left: 0.5rem;
    }
}

.course-details-section--fadeout-effect {
    position: absolute;
    background-image: linear-gradient(rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%);
    width: 100%;
    bottom: 3rem;
    height: 4rem;
    pointer-events: none;
}


@media (max-width: 575px){

    .course-details-section {
        margin-top: 15.156rem;
        width: 100%;
        height: 36rem;
        // padding: 1.875rem*2.5;
        padding-bottom: 2.5rem*2.5;
    }
    
    .course-details-section__title {
        font-size: 1.5rem*2.1;
        margin-bottom: 1rem*2.5;
    }
    
    .course-details-section__para {
        font-size: 0.875rem*2.5;

    }
    
    .course-details-section__read-more {
        font-size: 1.125rem*2.5;
        font-weight: 800;
        width: 100%;
        bottom: -3rem;
        right: 0;
        padding: 0.8rem*2.5 0rem*2.5 1rem*2.5 0;
        // margin-top: 0.8rem*2.5;
        cursor: pointer;
    
        span {
            margin-left: 0.5rem*2.5;
        }
        svg{
            width: 0.625rem*2.5;
            height: 0.375rem*2.5;
        }
    }
    
    .course-details-section--fadeout-effect {
        position: absolute;
        background-image: linear-gradient(rgba(255, 255, 255, 0) 0%,
                rgba(255, 255, 255, 1) 100%);
        width: 100%;
        bottom: 2.5rem;
        height: 4rem*2.5;
        pointer-events: none;
    }
}